[2016-11-06 18:07] codeliner opened #4 "Marker Interfaces for indexing strategies"
While trying the pdo adapter I ran into an issue due to a wrong indexing strategy used by the adapter.
I wanted to use `pdo_pgsql` but did not configure the indexing strategy so the factory used the MySql indexing strategy as a default.

I got a syntax error:

[code]

We should either remove the default to force the user to set a strategy or mark the strategies with vendor specific interfaces so t

[2016-11-08 10:24] #4 closed

[2016-11-08 10:24] prolic commented on #4
done by eb2094a147d4fb78bfac32f57583dabf678fac1b

[2016-11-08 11:34] prolic opened #5 "Bug with MySQLSingleStreamStrategy"
Using this leads to ConcurrencyException.

[2016-11-08 11:37] prolic opened #6 "Transaction handling"
create a db and table first:

[code]

then this:

[code]

Problem: create table makes implicit commit in MySQL !!!

This means transactions are broken with MySQL!

see also: http://dev.mysql.com/doc/refman/5.7/en/implicit-commit.html

One possible solution would be to remove `$adapter->beginTransaction()`, `$adapter->commit()` and `$adapter->rollback()` methods and make transaction handling implic

[2016-11-09 12:41] #5 closed

[2016-11-09 13:15] prolic commented on #6
ping @codeliner

[2016-11-12 10:09] #6 closed

[2016-11-17 10:12] prolic opened #10 "Add stop() method to query, projection and read model projection"

[2016-11-18 09:27] basz commented on #10
can you explain what need to be done?

[2016-11-18 09:31] prolic commented on #10
1) Add a method stop(): void to Query, Projection & ReadModelProjection interface
2) Implement the method
3) Add tests

Goals:
If someone calls `$this->stop()` while processing messages, the query / projection gets stopped after state persisted. No further messages are processed.

[2016-11-18 09:42] basz commented on #10
I'll have a look. to be added to the 'projections' PR?

[2016-11-18 09:50] prolic commented on #10
No develop branch - projections are merged now.

[2016-11-18 10:27] basz commented on #10
should the stop method be added to interfaces in the event-store?

[2016-11-18 10:29] prolic commented on #10
yes!

[2016-11-18 10:30] prolic commented on #10
start with InMemoryEventStoreQuery and go from there

[2016-11-18 11:26] basz commented on #10
ok, looked at it. not entirely sure what I'm doing... :-)

Quick questions:

- Query don't persist state now do they?
- A call to `stop` should simply be a mark `isStopped` that the `run` methods check...

[code]
and in each run() method simply

[code]
Each `$this->handleStream***` method persists its own state, right? I don't need to do that right?

Assuming the above is correct, how would I go a

[2016-11-18 11:53] prolic commented on #10
Correct. I added tests with usercreated and changed name. So test by
counting events and on name changed call stop after counting. So state
should have Count = 2

Am 18.11.2016 19:26 schrieb "Bas Kamer" <notifications@github.com>:

[2016-11-18 12:59] basz commented on #10
can be closes as no changes are required if i am not mistaking

[2016-11-18 13:49] #10 closed

[2016-11-18 18:05] basz opened #12 "Repo name"
Until now names for adapters are 'event-store-*-adapter' which differs from '*-event-store'.

On purpose?

[2016-11-18 19:05] prolic commented on #12
This is not an adapter anymore, but different implementations of the event
store interface.

Am 19.11.2016 02:05 schrieb "Bas Kamer" <notifications@github.com>:

[2016-11-19 23:05] #12 closed

[2016-11-27 19:58] prolic opened #17 "Unit test error after update"
[code]

[2016-11-29 05:05] #17 closed

[2016-12-23 15:48] oqq opened #24 "addStreamToStreamsTable throws wrong exception"
In my current case the method `MySQLEventStore::addStreamToStreamsTable` was called and the table `$this->eventStreamsTable` doesn't exists.

But a `StreamExistsAlready` exception was thrown.
We should provide a more accurate message with specific mysql error message in that (or in any) case.

[2016-12-25 11:16] #24 closed

[2017-01-02 08:04] codeliner opened #27 "What is the reasoning behind using JSONB in PostgreSQL?"
Question taken from the chat. Asked by @shochdoerfer

[2017-01-02 08:05] codeliner commented on #27
/cc @prolic

[2017-01-02 08:25] shochdoerfer commented on #27
Just to give a bit of context: The PostgreSQL guys recommend using JSON when using the field just for storage and JSONB when you want to issue queries against the data. The reasoning behind this is that the conversion from JSON to the binary format of JSONB and back costs time to compute.

In addition to that the JSON fields has 2 "advantages" over JSONB: The json format of the output does not  ch

[2017-01-02 08:41] prolic commented on #27
Jsonb can also be used with a custom persistance strategy, so I am okay
with switching the default to json.

Wanna submit a PR?

Am 02.01.2017 16:26 schrieb "Stephan Hochdörfer" <notifications@github.com>:

[2017-01-02 08:44] shochdoerfer commented on #27
Sure can tackle that one as well ;)

Migrate to JSON completely or make it configurable? What would you prefer?

[2017-01-02 08:49] prolic commented on #27
Migrate. As I said it is part of the persistance strategy and you can
always create a new one for userland, adding more indexes f.e. and so on.

Can we keep jsonb for metadata? This one will be queried a lot, depending
on the streaming configuration.

Am 02.01.2017 16:45 schrieb "Stephan Hochdörfer" <notifications@github.com>:

Sure can tackle that one as well ;)

Migrate to JSON completely or mak

[2017-01-02 08:53] shochdoerfer commented on #27
Sounds legit ;)

[2017-01-03 09:29] #27 closed

[2017-01-10 07:40] prolic opened #31 "Add documentation"

[2017-01-12 20:22] codeliner opened #38 "Should resetProjection always be called?"
I'm wondering if [this line](https://github.com/prooph/pdo-event-store/blob/master/src/Projection/PdoEventStoreReadModelProjection.php#L327) should be moved above the [if block](https://github.com/prooph/pdo-event-store/blob/master/src/Projection/PdoEventStoreReadModelProjection.php#L315) so that `$this->resetProjection()` gets called even if the initCallback returns a state array?

[2017-01-13 03:35] prolic commented on #38
No, it doesn't matter if a callback is provided or not. If you call `reset()` on a read model projection, the read model needs to be reset.

[2017-01-13 09:56] basz opened #39 "MySql EventStore does not support transactions"
Adding the TransactionManager Plugin to a MySqlEventStore should throw an exception as it can only be used by Postgres.

Currently it runs out of memory

[2017-01-14 04:06] #38 closed

[2017-01-14 04:06] prolic commented on #38
Thx

[2017-01-16 20:31] basz opened #42 "SingleStreamStrategy should select using generated columns to utilise the indexes"
Even when using the the virtual generated columns with indexes (SingleStreamStrategy) the indexes aren't utilised.

example of an expected query
[code]
*Query took 0.0824 seconds*

actual query performed
[code]
*Query took 0.1206 seconds*

[2017-01-16 20:56] basz commented on #42
I could try to fix this, but I am not sure what's the best approach.

I think Prooph\EventStore\Pdo\PersistenceStrategy should provide a method such as 'generatedColumnNames' returning (metadata) columns that are indexed (`version`, `aggregate_id`, `aggregate_type`) and that these loops https://github.com/prooph/pdo-event-store/blob/master/src/MySqlEventStore.php#L273-L285, https://github.com/proo

[2017-01-16 21:11] sandrokeil commented on #42
@basz What is the output of the `explain` statement?

[2017-01-16 21:16] basz commented on #42
[code]

[2017-01-16 21:25] basz commented on #42
ok. i messed up... metadata->"$._aggregate_version" is not `aggregate_version` but `version`. let me check

[2017-01-16 21:42] basz commented on #42
aaarg... closing: no fix needed...

[code]
from: http://mysqlserverteam.com/indexing-json-documents-via-virtual-columns/

I do see performance drop a lot after the first 10000 events... then again this is a tiny dev machine... i should probably tune mysql somehow...

[2017-01-16 21:42] #42 closed

[2017-01-17 06:14] codeliner commented on #42
@basz Even if you close this specific issue the kind of analyzes are needed and very useful :+1:

[2017-01-17 12:15] basz opened #43 "Improve event store indexes"
referring https://github.com/prooph/pdo-event-store/issues/42

some indexed need to be changed (ix_unique_event?)

@oqq

[2017-01-20 19:52] basz opened #45 "Performance degrading"
Seeing slowdown of my imports (initial estimated at 5/6 minutes) actually 2.5 hours

using MySQL single table per aggregate type.
no snapshots used (yet)

While importing i see multiple batched selects over the events no column to reconstitute aggregates Shouldn't this ‘batch’ be over the aggregate via a limit? This looks very unoptimised but i don't know what the 'no' clause does here...

query l

[2017-01-22 15:57] prolic commented on #45
The query looks wrong - @oqq can you provide a fix and a new test-case?

[2017-01-23 07:29] oqq commented on #45
Looks ok for me. The batch process works by increase the where clauses for `no >= x` and limiting by `LIMIT`. @prolic i am not sure why you used this way for batching instead of `LIMIT amount, from`. But i have not touched this. This could only works if `no` is continuous and never broken. Is it?

The main issue here is the order of clauses in `WHERE` so the index could be used.
So, should we chan

[2017-01-23 08:49] prolic commented on #45
You can only use `no` when using `AggregateStreamStrategy`, when you are using `SingleStreamStrategy` the query needs to ignore `no` and query for `_aggregate_version` in metadata instead.

[2017-01-23 10:00] oqq commented on #45
Is that the limiting factor? `SingleStreamStrategy` is used?
We need a more generic expression for that.

How about? :
If the MetadataMatcher contains values for `version`, `aggregate_id` and `aggregate_type`, than the query would sort and batching against version. Otherwise `no` should be used.

[2017-01-23 12:42] oqq commented on #45
Same issue as here: https://github.com/prooph/pdo-event-store/issues/43

[2017-01-25 10:36] prolic commented on #39
@basz how did you do that? The TransactionManager has a typehint for `TransactionalEventStore` in the constructor, and the `MySqlEventStore` does not implement that interface. So PHP should throw already.

[2017-01-26 09:26] basz commented on #39
I don't remember. When i try it now it indeed dies: `PHP Fatal error:  Uncaught TypeError:`

[2017-01-26 09:26] #39 closed

[2017-01-26 20:15] #45 closed

[2017-02-12 09:49] prolic opened #50 "Add possibility to send messages to projectors"
Basic idea:

Send a message to a projector, that it should stop / delete / reset

[2017-02-13 18:39] #50 closed

[2017-02-17 16:32] oqq opened #57 "PersistBlockSize projection option works not properly"
If i don´t handle all events in a read model projection, the persistBlockSize option value could be bypassed and therefore the persist procedure would never be called until the end of the script.

There are 2 simple solutions for that issue:
- run `$this->eventCounter++;` after `continue` from `handleStreamWithHandlers` method
- change the expression to `$this->eventCounter >= $this->persistBlockS

[2017-02-18 12:11] #57 closed

[2017-03-01 10:47] prolic commented on #43
@basz Can you verify the problems with the newest master?

[2017-03-01 12:12] prolic opened #60 "Add projection manager factories"

[2017-03-01 13:35] basz commented on #43
I still seem to have lowering throughput after a while... I don't understand why exactly... The thing is that replaying events has stable performance. That tells me it isn't a problem with the read models (v6 style).

By the way I don't see any difference in the schema, but that might be because I update regularly to master...

[2017-03-03 07:59] oqq commented on #43
@basz can you provide a small example gist?
That could me help a lot to improve the indexes.

[2017-03-03 13:47] #60 closed

[2017-03-06 09:38] basz commented on #43
would this help? two aggregates one with ~60000 events one with just 1.

https://gist.github.com/basz/f1b6e6c7262e8fabacacb1c05cb35a70

[2017-03-09 07:27] oqq opened #63 "Provide new beta release"
Since I am using `"minimum-stability": "beta"` in client projects to build up a new application with current prooph components, i am not able to get the current version without manual fetch a hash.

I guess it is time for the next beta release. ;)

[2017-03-09 07:41] oqq opened #64 "[DRAFT] Death Loop with load reverse lacking $count"
Needs more investigation by me and a test case.

Would end in an endless loop:
[code]

Works fine:
[code]

1.0.0-beta3

[2017-03-10 12:56] prolic commented on #64
please check with latest develop branch

[2017-03-10 17:40] oqq commented on #64
cannot reconstruct with current dev branch, so could be closed.

[2017-03-10 17:40] #64 closed

[2017-03-10 19:12] oqq commented on #43
Are you using the current implementation from `MySqlSingleStreamStrategy`?

If so please test this query:
[code]

@prolic the main reason for that issue is the lack of indexes.
Maybe it makes sense that we are always provide an index /aggregate_id, aggregate_type, version/ (or in other order) and sort the metadata query always in that order, since this would the most used metadata query I guess. T

[2017-03-11 07:02] prolic commented on #43
I created a test-script for this and am testing now.

[2017-03-11 07:46] oqq commented on #43
Please provide `Explain` outputs with used indexes and queries for your tests.

[2017-03-11 08:07] prolic commented on #43
I have something else to do now, will come back to it later this evening.

[2017-03-11 16:11] prolic commented on #43
Here is the reordered MySqlSingleStreamStrategy: https://gist.github.com/prolic/389820fcd30c821fcce5da3e1e9c6f89

Here are the test-scripts:
MySql: https://gist.github.com/prolic/533b82fb97b671ac5f1a0d7b5017cb27
Postgres: https://gist.github.com/prolic/2000e71a4d0aa2d6adfcfa5633d45a74

## Usage:

### MySql

./vendor/bin/phpunit -c phpunit.xml.pdo_mysql --group=prepare tests/MyTest.php
./vendor/bin

[2017-03-11 17:10] oqq commented on #43
TL;RL: reordering the index is not enough.

Problem here is that an reorder of index would not help. That helps in this use case, since the query creates a where condition in that order.

If you have a query with `WHERE type = 'fuu' AND id = 'bar' AND version = '1' ORDER BY no`, than MySQL uses the index that is ordered like this: `(type, id, bar)`. If you add additional the `no` to that index, th

[2017-03-11 17:31] oqq commented on #43
Oh, this could be easily done by enriching the where condition with:
[code]

So the right order for present values are correct and not provided value would be filled up.

How about to add something like a `enrichAndSortQuery()` method to the strategy? (bad method name, sure)

[2017-03-12 06:28] prolic commented on #43
Interessting: The insert with the provided test-scripts above are much faster on MySQL than with Postgres, while Postgres reads much faster than MySQL. Could be that this is due to the default configuration of the databases. Any ideas what's going on here?

[2017-03-12 06:40] prolic commented on #43
When I add `no` to the index, the performance is still the same and `Using filesort` is still part of the MySQL explain - @oqq wanna modify my test-script to get it running even faster with other indexes?

About the other stuff:
While the order of the metadata matchers make a difference on which indexes are used, it does not makes sense to order the metadata matchers within the MetadataMatcher cla

[2017-03-12 06:53] prolic commented on #43
My Postgres results are ready (with added `no` to the index):

First, without `no`:
[code]

timing:
[code]

With added `no`:
[code]

timing:
[code]

So we see: Using Postgres adding `no` to the index increases performance - but we have to create a new index for this, because the existing is a unique contraint index.

Sadly, the same change doesn't make a difference on MySQL - I don't know why. Ide

[2017-03-12 07:01] prolic commented on #43
## Test-preparation (inserts)

### using Postgres:
Time: 52.11 seconds

### using MySQL
Time: 1.21 minutes

So Postgres is also faster writing - I said something different before - might have been a missing warmup - sorry for the confusion.

[2017-03-12 09:34] oqq commented on #43
Your query is lacking the `version` in query. If your index is (type, id, version, no) than MySQL can use `no` in that index for sorting.

If the where clause is like
[code]
So MySQL could read all entries directly from the index in that order and no additional sorting is necessary.

if you run a query like this
[code]
than the `no` part of that index would be ignored. MySQL could not know about t

[2017-03-12 10:00] prolic commented on #43
I don't understand, what is your use case for type - no or type - id - no ?
Using event sourcing component no such query is ever executed.

Am 12.03.2017 17:34 schrieb "Eric Braun" <notifications@github.com>:

Your query is lacking the version in query. If your index is (type, id,
version, no) than MySQL can use no in that index for sorting.

If the where clause is like

WHERE type = ? AND id = ?

[2017-03-12 10:14] oqq commented on #43
When i `load` an aggregate root, than the query would be
[code]
right?

If you remove `no` from index, than MySQL searches all relevant tuples from the index (type, id), get the values from storage and has to sort this set after.

If you have `no` involved in the index, MySQL searches all tuples in index in the correct order. So no additional sorting is needed.

I will provide a test case to demon

[2017-03-12 10:16] prolic commented on #43
I see, we can change event-sourcing to always add `version` to the query, that should resolve the issue.

[2017-03-12 10:34] oqq commented on #43
Not necessary.
We need always a unique key for (type, id, version) without no in single stream strategy.
If if we add an additional index (type, id, no) to every strategy, the most queries would run faster.

OR

we sort by `version` instead of `no` if type and id is in metadata matcher.

Maybe we should collect all probably queries. Than I can provide an index strategy with smallest storage food p

[2017-03-12 10:44] prolic commented on #43
we currently use this:

type, id, version, no (using snapshots)

and

type, id, no (without snapshots)

we can add version >= 1 to the second query (without snapshots) and everything should work just fine.
adding another index for this use-case may have an impact on write performance.

No other queries are executed at all - when a user has a special use case to have additional event store queries,

[2017-03-12 10:50] oqq commented on #43
If you add `no` to the unique key in single stream strategy, than the uniqueness would be broken, right?

[2017-03-12 10:52] prolic commented on #43
no the `no` will be added to another index, not the unique one :)

[2017-03-12 10:52] oqq commented on #43
What I see here:
We could not add `no` to single stream strategy. So we have to add a new index. Also on other strategies we have to add a new index.

Let this index small as possible. So maybe `version` could be avoided if not really needed.

[2017-03-12 10:54] prolic commented on #43
`version` is a requirement when snapshots are used. (I got snapshot with version 5, so fetch only events where version > 5)

[2017-03-12 10:55] oqq commented on #43
(type, id, no) could also be used if the query is `WHERE type = ? AND id = ? and version > 5 ORDER BY no`

[2017-03-12 10:57] oqq opened #67 "Add StorageStrategy Benchmarks"
Since we are provide some storage strategies and maybe add new one in near future, we should add benchmarks for this strategies.

I would use a similar approach how we used already here:
https://github.com/prooph/event-store-adapter-benchmarks

[2017-03-12 10:59] prolic commented on #43
I just tested with another index like

[code]

and explain gives:

[code]

[2017-03-12 11:00] oqq commented on #43
Your query starts with `no`, but has to start with type for that index.

[2017-03-12 11:00] prolic commented on #43
ups, wrong order, again:

[code]

[code]

[2017-03-12 11:01] oqq commented on #43
I got this:
[code]
[code]

[2017-03-12 11:02] prolic commented on #43
Difference is, I added aggregate_version already

[2017-03-12 11:04] prolic commented on #43
[code]

[2017-03-12 11:07] oqq commented on #43
MySQL uses ix_unique_event in that case. Either MySQL hat decided this is the better one, or (more likely) dont know the other one is better.

Please test with an index hint https://dev.mysql.com/doc/refman/5.7/en/index-hints.html

[2017-03-12 11:11] prolic commented on #43
Add a query hint would complicate the code a lot, not sure from where to get this, as indexes are only in the persistence strategy.

However for testing:

[code]

[2017-03-12 11:11] prolic commented on #43
It's still using filesort

[2017-03-12 11:12] oqq commented on #43
I have tested this without query hint and got the right index usages. Anything in your code is wrong. ;)

[2017-03-12 11:13] prolic commented on #43
My table:

[code]

query is above

[2017-03-12 11:13] prolic commented on #43
MySQL: 5.7.17-0ubuntu0.16.04.1

[2017-03-12 11:14] oqq commented on #43
Please give me some minutes. I will setup an own test script.

[2017-03-12 11:22] prolic commented on #43
testing on postgres:

[code]

having index like:

[code]

seems also not to take the new index

query is
[code]

[2017-03-12 11:23] prolic commented on #43
back online later

[2017-03-12 12:21] oqq commented on #43
Here are my results:

## Table
[code]

with two indexes. One with `version` and one without.
I have used your test script to fill up the data and have ~100k values in that table.

### Query _without_ version; index _without_ version
[code]
[code]

### Query _without_ version; index _with_ version
[code]
[code]

### Query _with_ version; index _without version
[code]
[code]

### Query _with_ versio

[2017-03-12 12:37] prolic commented on #43
thanks @oqq - am playing with it a little now

[2017-03-12 13:25] prolic commented on #43
## Postgres

[code]

[code]

## MySQL

[code]

[code]

https://github.com/prooph/event-sourcing/pull/57 is closed
https://github.com/prooph/pdo-event-store/pull/66 is updated

[2017-03-12 13:46] prolic commented on #43
Btw: Postgres is able to get the correct index himself - way better :)

[2017-03-12 14:57] #43 closed

[2017-03-12 14:58] oqq commented on #43
That looks much better now. 👍

[2017-03-13 20:18] #63 closed

[2017-03-29 11:56] #31 closed

[2017-04-06 16:46] prolic opened #72 "Reconsider adding support for MariaDB"
From the chat:

@tmihalicka wrote:
Yes DDL for creating SingleStreamStrategy is not compatible with mariadb and DDL for event_streams table also.
But i made this gist https://gist.github.com/tmihalicka/f54e771df98b4e04948d2a861daf63e0
where is DDL compatible with MariaDB 10.2.4
It might be useful to someone :grinning:

[2017-04-19 10:08] hiddeco opened #73 "Improve documentation SingleStreamStrategy"
This library is lacking documentation regarding the migration / initialisation of `SingleStreamStrategy` tables, which makes it a bit hard to integrate without asking for help.

A snippet of documentation that pushes you in the right direct can be found here:  https://github.com/prooph/event-store/blob/master/examples/quickstart.php#L63-L66 and a semi-solution by @basz can be found here: https://g

[2017-04-28 16:42] codeliner opened #74 "Consider adding support for TimescaleDB"
TimescaleDB looks interesting: http://www.timescale.com/
It is a Postgres extension optimized for time series data. An event stream fits into that use case and their docs state that you use normal Postrgres SQL for reads and writes. Would be interesting if it can be used as a drop in replacement for standard Postrges pdo event store

[2017-05-10 14:11] stalltron commented on #74
Should be really easy to add support, very little to actually do:

1. [Install extension to existing DB](http://docs.timescale.com/getting-started/installation)
2. CREATE TABLE new_table (LIKE ordinary_table);
3. SELECT * FROM create_hypertable('new_table', 'time');
4. INSERT INTO new_table (SELECT * FROM ordinary_table) ;

(i.e., that's migration.  Leave off step 4 if you don't need to migrate, a

[2017-05-10 14:28] prolic commented on #74
Give it a try and let travis test it, too?

On May 10, 2017 22:11, "Andrew Staller" <notifications@github.com> wrote:

[2017-05-17 08:55] prolic commented on #73
@hiddeco wanna provide a PR?

[2017-05-22 09:30] #73 closed

[2017-06-08 21:01] lunetics opened #84 "Postgres error on fetching an aggregate on a fresh eventstore"
--Update:--
It works with event bus bridge disabled!! so it's not an PDO event store error, but a event bus bridge (event publisher?)

Postgres log without event bus bridge:
[code]
Also on the failure below, the "parameters" of the insert are "empty"
--Given--

1) A fresh event store on postgres (no data / saved aggregates)

2) Try to get an aggregate via repository will return an error in the `ad

[2017-06-08 21:22] lunetics commented on #84
@prolic also see: https://github.com/prooph/event-store-bus-bridge/issues/29

don't know who is responsible, so it's up to you to close the wrong one :)

[2017-06-09 12:06] prolic commented on #84
Here is the test-case:

[code]

The problem is the load & save within same transaction. The load failed, therefore the transaction failed. Any ideas how to handle this?

[2017-06-18 10:10] #72 closed

[2017-06-18 14:26] #84 closed

[2017-06-20 08:12] codeliner opened #86 "Make use of Postgres pub/sub ?"
I read recently that PostgresSql supports [durable pub/sub](https://medium.com/@jonathangfischoff/testing-postgresql-for-fun-af891047e5fc)

I'm wondering if this is useful for our projections to avoid polling event streams directly ...
The mechanism is relatively simple: When creating a stream or appending to it we could use [NOTIFY](https://www.postgresql.org/docs/9.1/static/sql-notify.html) to i

[2017-06-20 08:58] shochdoerfer commented on #86
I am aware of that feature but have never tried it myself.

[2017-06-20 16:15] sandrokeil commented on #86
This should be more efficient than polling the table. Especially on high polling frequency. We should give it a try. Like @Ocramius mentioned, a [trigger should work](http://darrenoneill.co.uk/post/real-time-web-apps-postgresql-and-node/).

[2017-06-20 16:18] Ocramius commented on #86
Interestingly, I was reading about this stuff yesterday:

 * https://github.com/jfischoff/postgresql-queue
 * https://hackernoon.com/testing-postgresql-for-fun-af891047e5fc

That's haskell keeping a connection with the DB, but the `NOTIFY` should probably stay in the database directly, instead of looping through PHP (which can become an extreme bottleneck)

[2017-06-20 16:25] codeliner commented on #86
@Ocramius

Follow my first link "durable pub/sub". You will be surprised :D

[2017-06-20 16:32] codeliner commented on #86
DB trigger for `NOTIFY` is a great idea. This would keep pdo-event-store logic untouched. Even better we can keep everything untouched and just wrap a projection with a `pg_get_notify` loop and run the projection manually whenever a new notification is received. One can put that into amphp loop or use Node.js or even haskell projections :D

[2017-06-20 16:33] Ocramius commented on #86
More like: "I don't know how to read, duh"

[2017-06-21 04:40] trowski commented on #86
Amp v2's [postgres package](https://github.com/amphp/postgres) supports listening and notifying that is entirely async. `pg_get_notify` is used in the watcher callback that is only invoked when data is available (never blocks). The code below is taken from the [listening example](https://github.com/amphp/postgres/blob/master/examples/listen.php).

[code]

[2017-06-21 09:36] afoeder opened #87 "Unreasonable use of JSON_FORCE_OBJECT in PersistenceStrategies' implementations"
In every implementation of `\Prooph\EventStore\Pdo\PersistenceStrategy::prepareData` there are json_encode occurrences with the JSON_FORCE_OBJECT flag set:

[code]

This results in plain arrays being handled like objects, i.e. `array('hoo', 'ray')` results in `{"0":"hoo","1":"ray"}"` ([3v4l example](https://3v4l.org/ILE47))

From the [PHP docs](http://php.net/manual/en/json.constants.php):

Please

[2017-06-21 09:44] bweston92 opened #90 "Invalid DB_HOST in phpunit files when using docker-compose to run the tests."
The DB_HOST is set to `127.0.0.1` which doesn't relate to the host machine or the database containers just the `composer` container setting to `mysql` in `phpunit.xml.mysql` works as expected. Obviously for travis this won't work.

We can either use the `host` network driver but this will probably annoy developers that already use these ports.

[2017-06-21 10:00] bweston92 commented on #87
@afoeder unfortunately PHPUnit thinks it is fine because the keys match. See #91

[2017-06-21 10:19] prolic commented on #90
Any ideas? I think users can edit their files for local testing if needed.

[2017-06-21 10:35] bweston92 commented on #90
I've managed to do it in the composer.json script and it doesn't effect Travis either so maybe a win win.

[2017-06-21 10:45] codeliner commented on #86
@trowski wow, that's nice. Did not read the source code carefully enough. Just to make sure I understand correctly: watcher callback is only invoked if data is available. But it will also be invoked if I would notify on channel `otherChannel`, right?

Anyway, that is a killer feature for an amp postgres projection. Thx for the reply!

[2017-06-21 11:03] #90 closed

[2017-06-21 17:00] trowski commented on #86
@codeliner Yes, the watcher callback is only invoked when the connection associated with that watcher has data available. This is done by creating the watcher using the stream socket resource returned from [`pg_socket()`](http://php.net/pg_socket). The watcher is invoked anytime data arrives from a listener, query, prepare, etc.

You can listen and notify on multiple channels. All connection ops r

[2017-06-22 16:33] #87 closed

[2017-06-23 14:12] afoeder commented on #87
I disagree with closing it. Just because no presently existing unit test fails or changes doesn't mean the implementation ist correct.
It _coincidentally_ works when reconstituting from the database, but the intermediate format is incorrect as a matter of fact and I propose fixing it...

[2017-06-23 14:43] prolic commented on #87
It's already fixed with v1.3.1 incl tests.

On Jun 23, 2017 22:12, "Adrian Föder" <notifications@github.com> wrote:

[2017-06-24 08:15] afoeder commented on #87
sorry @prolic, read that via mobile and didn't see it was _closed through #93_. Thank you!

[2017-06-30 12:36] simon-ondrej opened #97 "Replace real_stream_name LIKE ? with category = ? IN projectors and queries"
The default table structure contains an index on category attribute ([MySql](https://github.com/prooph/pdo-event-store/blob/master/scripts/mysql/01_event_streams_table.sql#L9), [Postgres](https://github.com/prooph/pdo-event-store/blob/master/scripts/postgres/01_event_streams_table.sql#L10), [MariaDb](https://github.com/prooph/pdo-event-store/blob/master/scripts/mariadb/01_event_streams_table.sql#L

[2017-06-30 13:29] prolic commented on #97
:+1:

[2017-07-10 09:11] Lctrs opened #98 "[Projections] ERROR: value too long for type character(26)"
While working on a new project, I noticed that my docker containers running my projections died after a random amount of time with the following error :

`[2017-07-07 16:55:37] console.ERROR: Error thrown while running command "my_command_name". Message: "Error 22001. Maybe the projection table is not setup? Error-Info: ERROR:  value too long for type character(26)" {"error":"[object] (Prooph\\Eve

[2017-07-10 10:13] prolic commented on #98
1000000 microseconds is a second. So this should never happen. Maybe it's a PHP bug? I am not sure yet. Will do some testing.

[2017-07-10 10:23] Lctrs commented on #98
Yet it happened. For debugging, I just manually added the value of `$lockUntilString` to the error message, waited for the error to happen, and got this value. I'll do some research for a PHP bug.

Just in case, here is my full debug error message :

`[2017-07-07 16:55:37] console.ERROR: Error thrown while running command "my_command_name". Message: "Error 22001. Maybe the projection table is not

[2017-07-10 11:01] prolic commented on #98
I found the problem, working on a fix...

[2017-07-10 11:34] prolic commented on #98
@Lctrs Can you test my PR https://github.com/prooph/pdo-event-store/pull/99 and tell me how it's working for you?

[2017-07-10 18:02] #98 closed

[2017-07-10 18:05] #97 closed

[2017-07-28 11:39] prolic opened #102 "Flag / Method to turn off transaction handling"
see https://github.com/prooph/event-store/issues/292

[2017-07-28 21:21] #102 closed

[2017-08-06 18:53] sandrokeil opened #103 "Connection preprty never used in PdoStreamIterator"
The connection property is never used in [PdoStreamIterator](https://github.com/prooph/pdo-event-store/blob/master/src/PdoStreamIterator.php#L91), so we can remove it.

[2017-08-11 10:36] #103 closed

[2017-09-18 07:44] prolic opened #106 "Aggregate root not found in MariaDb"
by @Danielss89

see original here: https://github.com/prooph/event-store/issues/297

I'm using MariaDb and when i use my collection to find an Aggregate root by id, it returns nothing.
When looking in the database i have this:
[code]
And i select like this: `$this->userCollection->get('ace19986-67f1-436d-82ef-787bc882adf3');`

If i dump the metadata values which are used in the where clause i get:

[2017-09-20 11:49] #106 closed

[2017-10-04 06:49] prolic commented on #67
issue created here https://github.com/prooph/event-store-benchmarks/issues/8, closing this one.

[2017-10-04 06:49] #67 closed

[2017-10-18 13:22] prolic opened #110 "PdoStreamIterator should check json_last_error after json_decode"

[2017-11-17 12:56] uirapuru opened #113 "Usage of PDO::rowCount() with SELECT statements"
https://github.com/prooph/pdo-event-store/blob/8780fd9431a539504583f569df2c359abcc413ff/src/MySqlEventStore.php#L331

Maybe not issue (well, happened for me to return wrong result, but it was really specific case...), but in docs for PDO::rowCount() we find:

this is more as a reminder. Thanks, great job with Prooph!

[2017-11-18 12:32] prolic commented on #113
We have unit tests covering that case, so we can assume it's working as intended, thanks.

[2017-11-18 12:32] #113 closed

[2017-11-19 06:12] #110 closed

[2017-11-21 13:50] Adapik opened #114 "Wrong position in projections table"
How to reproduce:

1) Trigger a `ConcurrencyException`. It's not very easy to trigger but I wrote a test number 8 in https://github.com/Adapik/event-store-benchmarks/tree/reproduces-a-projection-bug. The idea is simple - to write events for the SAME aggregate in parallel transactions. If they a parallel enough (thx to pthreads they are) a ConcurrencyException is thrown (as it should be). Note that

[2017-11-21 16:47] sandrokeil commented on #114
@prolic Do you remember our discussion for the ArangoDB event store and number gaps? Conclusion was, gaps are no problem.

[2017-11-21 16:55] prolic commented on #114
@sandrokeil yes, @Adapik has a fix for the projection stuff, but I want to check again and make sure there is no further problem.

[2017-12-04 14:57] hvanoch opened #116 "Mariadb eventstore returning "null" aggregate on new mariadb server 10.2.11"
We upgrade our mariadb server from 10.2.10 to 10.2.11.
This causes aggregates to not be loaded anymore.

I figured out that is has something to do with "json_value" previously not being escaped, but now in the newer version, it is.
See:
https://mariadb.com/kb/en/library/mariadb-10211-changelog/ (JSON_VALUE doesn't escape quote.)
https://jira.mariadb.org/browse/MDEV-14402

Removing the "addslashes"

[2017-12-04 15:18] hvanoch commented on #116
@Adapik That will not work, because then new aggregates will still not be loaded anymore.
This has to be tackled in prooph event store some how.

[2017-12-04 15:39] prolic commented on #116
What do you think of bumping the mariadb requirements? @codeliner

[2017-12-04 16:56] prolic commented on #116
Another possibility is to add just another flag to the constructor / factory, where the user can notify which specific mariadb version he's using. I really hate this kind of stuff, when a db vendor just changes it's behaviour so tools can't rely on the feature-set.

@hvanoch @codeliner @Adapik

[2017-12-04 17:04] codeliner commented on #116
same here, we now face the same problems like the Doctrine team :( Something that is really time consuming. Well, the only way without breaking others installation would be a new major version of pdo-event-store with a fix and minimum mariaDB version set to 10.2.11
If they break again, we drop mariaDB support!

[2017-12-14 08:34] oqq commented on #116
If we drop mariaDB support, how about to add a doctrine-event-store? For most users pdo-event-store is the better implementation. But there are some users out there which uses doctrine for her projections anyway. So we can answer the question "how I can use the event store with Maria db" by simply recommend the doctrine-event-store.

I really don't like to use doctrine for such a simple task. But

[2017-12-14 09:53] sprolic-modus commented on #116
@oqq There will be NO doctrine-event-store any more, with reasons. Different vendors have different implementations for json support (and doctrine doesn't support them). Furthermore batch inserts are not possible with doctrine either. I would love to have doctrine handle all this complexity for us, but it doesn't.

[2017-12-14 10:07] #114 closed

[2017-12-14 10:11] oqq commented on #116
The Doctrine dbal has of course a json type since 2.6.0 and uses the engine type were possible. If not, than it would use some fallback. So that should not be a reason anymore.
Also PDO has not something like "batch inserts". We build it around it, what is also possible with doctrine too.

Doctrine would not be such performant as a pdo implementation and we should never prefer the doctrine-event-s

[2017-12-14 10:22] prolic commented on #116
@oqq Doctrine doesn't support json functions. This is only possible with another extension, like: https://github.com/SyslogicNL/DoctrineJsonFunctions - but even there is no mariadb support.

Batch inserts are not support by doctrine dbal, and I don't want to put efforts into doctrine to provide this feature atm. With PDO you can do stuff like this: `INSERT INTO table (column1, column2) VALUES (1,2

[2017-12-14 10:23] prolic commented on #116
@hvanoch sorry I was quite busy these days. Will try to fix this problem coming weekend.

[2017-12-14 10:24] hvanoch commented on #116
@prolic any idea an how exactly you are gonna fix this problem?

[2017-12-14 10:27] prolic commented on #116
I think the best way is to add a flag to the constructor indicating whether are not we need to add those slashes.

The only other option we have is bump mariadb requirement which will BC break apps running a fixed mariadb version and unable to upgrade right away.

Wanna provide a PR?

[2017-12-14 10:40] oqq commented on #116
ok fine..

How about my second proposal? We should add some more capabilities to the strategies, make a generic pdo event store and remove all the other classes. Of course in a next major version. Or maybe there is a non bc break way. Our implementations mostly differ on how to escape values or more how to build queries.

And please don't use something like "add a flag to the constructor". That sh

[2017-12-14 10:43] prolic commented on #116
@oqq we can consider adding capabilities to strategies for next major release. About adding flag to constructor... what's your opinion on this issue? Bump mariadb requirements instead?

[2017-12-14 10:52] oqq commented on #116
This was a bug from mariaDB and we have tried to circumvent this bug. I would simply remove our "fix" and inform in readme about the bug in mariadb. If someone has a fixed reason to use that buggy Maria version, than he has to use also the fixed pdo-event-store version or clone the class and patch it again.

How @codeliner already say it, that would be a never ending story if we always try to fix

[2017-12-14 14:20] codeliner commented on #116
:+1: for a hint in README and changelog and just removing our workaround. the hint can include the reasons and mention the pdo-event-store version that you need to pin to continue using the buggy mariaDB version.

[2017-12-15 15:06] #116 closed

[2017-12-23 14:32] prolic opened #122 "Update schemas"
See here: https://github.com/prooph/event-store-benchmarks/issues/6

[2018-01-16 13:30] Demyan112rv opened #123 "Ability to replace the DateTimeImmutable class on mocked datetime"
https://github.com/prooph/pdo-event-store/blob/66d11ab5833cef3f8718fb37a16da06f8b076371/src/Projection/PdoEventStoreProjector.php#L805

This discussion was started in Gitter and continues in this issue.

[2018-01-18 10:39] Demyan112rv commented on #123
At the moment we came to the conclusion that we can use another solution for this case - [php-timecop](https://github.com/hnw/php-timecop)

But I think that it would be good if there was an opportunity to change used classes or to set datetime value from from the outside.

[2018-01-18 11:37] prolic commented on #123
In the pdo-event-store-projector there are several places like: acquireLock, updateLock, persist where "NOW" is hardcoded. All those methods are private, so you are unable to inject anything to it.

I can't see any benefit to allow changing the used class name (f.e. to Carbon). Being able to change those values from the outside is a really bad idea IMHO, as it would poise the interface with option

[2018-01-18 18:41] max-voloshin commented on #123
@prolic thank you for feedback. For now, we are OK with https://github.com/hnw/php-timecop for testing purpose so you may close this issue.

[2018-01-18 19:10] #123 closed

[2018-01-23 10:46] hvanoch opened #125 "Always update the projections position"
Now the projection position is only updated when it actually has an event.
That means when stopping the projection and running it again, all events will be fetched from previous position to "now".

The real reason I want this to be updated is so I can update the read model synchronised, and not async with the write model.
I created a plugin that when ever a write happens (event store "appendTo" or

[2018-01-23 15:22] #125 closed

[2018-01-26 15:25] n3vrax opened #127 "Transactional event store question"
Hi there,

I'm looking forward to use these nice libraries
I'm currently checking out the event store and pdo adapters documentation and source code and I came across the transactional aspect of the stores
My question is why the postgres adapter is implemented as a transactional store only. I see that mysql store has transaction handling internally. Why not making it implement the transactional st

[2018-01-26 15:33] prolic commented on #127
A normal appendTo/create operation on the MySQLEventStore is already handled in transaction internally, so you can be sure all or nothing is persisted. So you may not need transaction support maybe?

The MySQLEventStore can't implement the TransactionalEventStore interface, because MySQL will do an implicit commit once you create or alter a tabl (see https://dev.mysql.com/doc/refman/5.7/en/implici

[2018-01-26 17:07] n3vrax commented on #127
Thanks for your quick reply

I'll be using the MysqlSimpleStreamStrategy, so tables will be created manually only once. But I get the mysql limitation.

Your suggestion is really helpful, I'll try to leverage the command and even store generated events and create an EventPublisher of my own. I'll try the following, and write it down here so others might find it useful:
- create a command bus plugi

[2018-01-26 20:03] #127 closed

[2018-02-02 19:16] basz opened #128 "Missing backticks on table names declarations (mysql)"
whilst testing the standard category projections I ran into an insertion issue

[code]

Probably due to the fact that I use dot's in message names (denoting the bounded context.

simply adding backticks solved this... PR?

[2018-02-02 19:19] prolic commented on #128
Yes, PR and test please :-)
Good catch

On Feb 3, 2018 03:16, "Bas Kamer" <notifications@github.com> wrote:

[2018-02-02 19:20] basz opened #129 "Data too long for column 'stream_name'"
Error 22001. Maybe the event streams table is not setup?
Error-Info: Data too long for column 'stream_name' at row 1

Looking at the definition for stream_name may only have 41 chars? Why so short? Why this number?

https://github.com/prooph/pdo-event-store/blob/master/scripts/mariadb/01_event_streams_table.sql#L4
https://github.com/prooph/pdo-event-store/blob/master/scripts/mysql/01_event_streams

[2018-02-02 20:04] basz commented on #128
hmm. I now noticed I had put this in my strategy

[code]

Therefor tests will always pass. Need to support people who do bring own stragegies? I must say I find it useful to traverse events manually.

[2018-02-02 20:11] prolic commented on #128
You can still traverse streams by looking up the event_streams table. There
you'll find the stream name -> real stream name mapping. By default _ +
sha1 hash is used, hence the 41 chars. You can create custom stream
strategies if you want to and have custom create table thingys, too.

Sascha-Oliver Prolic

2018-02-03 4:04 GMT+08:00 Bas Kamer <notifications@github.com>:

[2018-02-02 20:12] prolic commented on #129
see https://github.com/prooph/pdo-event-store/issues/128

[2018-02-03 08:22] #122 closed

[2018-02-03 08:22] #129 closed

[2018-02-03 08:23] prolic commented on #128
@basz Are you going to provide a test case and PR? I would like to release next minor version soon.

[2018-02-03 08:25] basz commented on #128
Mayby this afternoon otherwise monday

[2018-02-03 08:28] prolic commented on #128
Same applies probably also to MariaDB (and Postgres?). Even if you don't have them installed, simply put your change to `https://github.com/prooph/pdo-event-store/blob/master/tests/AbstractPdoEventStoreTest.php` and then travis will tell you it's results for all db vendors. Just apply the tests first, submit PR, then apply the fix in a second commit after travis has run. This way you get pre/post

[2018-02-03 08:37] basz commented on #128
Runnning docker already, so im good. Just not sure if i can come up wit a test if im not using mu own strategie. Not sure if you would want a custom strategy in the tests...

[2018-02-03 08:38] prolic commented on #128
Sure, why not use a custom strategy. Just add it as test-asset.

[2018-02-13 14:51] #128 closed

[2018-02-20 09:28] mczerniejewski opened #133 "problem with json_decode when payload contains special character (MySQL)"

[2018-02-20 09:52] #133 closed

[2018-03-14 11:54] prolic opened #137 "Create category/all/message-name stream projector plugin"
The idea is, that we have a plugin on the event-store, that automatically persists the event in additional streams (like in https://github.com/prooph/standard-projections/), but doing so on event-store createStream/appendTo, instead of doing so during a projection.

This will drastically improve performance for projections when using AggregateStreamStrategy.

[2018-03-14 14:54] oqq opened #138 "wrong ProjectionNotFound exception on resetProjection"
If I run `MySqlProjectionManager::resetProjection` on a projection which has the status 'resetting', this method would throw a ProjectionNotFound exception.

This occurs probably since `$statement->rowCount()` would also return 0 if no row was changed at all.

Maybe also true for Postgres and MariaDB and of course other methods like `stop` and `delete`.

[2018-03-15 11:48] codeliner commented on #137
can be done within v7, right?

[2018-03-15 13:01] prolic commented on #137
Yes

On Thu, Mar 15, 2018, 19:48 Alexander Miertsch <notifications@github.com>
wrote:

[2018-03-22 23:50] codeliner opened #139 "Add summary about stream strategies"
source: chat message by @fritz-gerneth

[2018-03-23 23:02] codeliner commented on #139
Follow up discussion:

@Ocramius 22:45
Hmm... This goes against my knowledge of BTREE indexes and computational complexity related to them. False overall...
In MySQL (Specifically) you get much more issues when opening different tables

Fritz Gerneth @fritz-gerneth 23:59
not defending my stance, certainly not against you  don't think we're comparing against opening multiple DB tables. y ou load ag

[2018-03-23 23:13] Ocramius commented on #139
To clarify, on most RDBMSs opening an index (and keeping it open), updating and re-organising it is much more efficient than having separate indexes.

That's due to the intrinsic computational complexity of tree-based indexes, which increase in write/access time in much less than linear progression compared with the data they index.

Having separate indexes scales linearly (or worse, since you hav

[2018-03-23 23:30] codeliner commented on #139
@Ocramius thx

I'd like to add that organisational issues need to be considered as well.
For example if you want to "archive" old aggregates it is easier if you have a stream of each. Otherwise you would need to modify the "main stream". We provide choices because we don't want to decide which option is the best one for a project. Too many possibilities ...

Also related:

  In the original event-

[2018-03-23 23:36] Ocramius commented on #139
@codeliner I'm fine with multiple choices, but again, archiving is just a matter of filtering out stuff from the index.

Having data on multiple streams or a single one is a semantic difference, not a practice one (seriously, it's just a `DELETE ... WHERE`).

In a PostgreSQL DB I'd just move data out into a partition and then split out the partition once the "umbilical cord is to be cut".

I'm try

[2018-03-24 05:26] gregoryyoung commented on #139
its not a semantic difference. Consider the case of loading a single aggregate.

[2018-03-24 09:36] Ocramius commented on #139
That's an index lookup, which is faster than opening a new index

[2018-03-24 10:03] gregoryyoung commented on #139
Its normally one table for everything or you custom design the db per aggregate type eg have a table named transactions the join to the rest. The latter is common in SQL centric systems

[2018-03-24 10:04] basz commented on #139
@codeliner 22:47

You have a method to measure and quantify *relatively small*?

Also, is there any tooling to switch between strategies, making it less important to get it right from the start?

[2018-03-25 10:10] prolic commented on #139
Okay, I'll try to give a more detailed explanation, feel free to add this to the docs:

- Aggregate Stream Strategy
  You get one stream per aggregate, which means you'll end of with lots of tables. This is really fast for loading an aggregate from events, because you can simply load the whole table. It works really good, when you build your read models using the event-publisher and event-bus (may

[2018-03-25 10:30] prolic commented on #138
confirmed bug in MySQL and MariaDB, no problem with Postgres

[2018-03-25 10:30] prolic commented on #138
working on a fix...

[2018-03-26 06:33] fritz-gerneth commented on #139
Using the MySQL Single Stream Strategy over here as well (or a slightly modified version of it) pretty much for the same reasons @oqq stated. The only change we made is to allow longer aggregate-ids to be stored, not everything as a UUID4 ID.

For me, the event store is only that and projections while easy to use are not the primary use-case for it. Hence, for me two scenarios matter (from a perfo

[2018-03-26 06:55] gregoryyoung commented on #139
stream per aggregate is the default strategy usually its just a FK
representing the stream.

On Sun, Mar 25, 2018 at 5:10 PM, Sascha-Oliver Prolic <
notifications@github.com> wrote:

--
Studying for the Turing test

[2018-03-27 18:38] codeliner commented on #139
thx for this great discussion! We have many different POV here and I'll try to add each to the docs.

Let me summarize:

@Ocramius looks at the question from a RDBMS point of view. He has deep knowledge of databases and his argument about database internal mechanics is something we have to keep in mind. For me this goes hand in hand with the idea that you split a system into bounded contexts and e

[2018-04-09 18:22] elpirata15 opened #142 "Select on event stream not using index"
PHP version

- 7.2.2

Prooph packages version

-         "prooph/event-sourcing": "^5.0",
-         "prooph/event-store-symfony-bundle": "dev-master",
-         "prooph/event-store": "^7.0",
-         "prooph/pdo-event-store": "^1.0",
-         "prooph/service-bus-symfony-bundle": "^0.6.0",

Table information

Table: _4228e4a00331b5d5e751db0481828e22a2c3c8e

[code]

show index from _4228e4a00331b5

[2018-04-10 07:53] prolic commented on #142
@codeliner @basz any ideas what's going on here?

[2018-04-10 08:01] prolic commented on #142
@elpirata15 Where does that query come from? I don't think it's fired from event-sourcing repo.

The index is `ix_query_aggregate` (`aggregate_type`,`aggregate_id`,`no`) - which means you need to search for all 3 fields in that exact order, otherwise the index is not used.

[2018-04-10 08:02] basz commented on #142
Might be you simply need to PK as index as ix_query_aggregate consists of 3 columns you are you querying... Unless you select all three. But really I'm index noob...

[2018-04-10 08:02] prolic commented on #142
I guess you're using SingleStreamStrategy, did you set `oneStreamPerAggregate` option on the repository to false?

[2018-04-10 08:03] basz commented on #142
see for some hints... http://code.openark.org/blog/mysql/7-ways-to-convince-mysql-to-use-the-right-index

[2018-04-10 08:49] oqq commented on #142
The index `ix_query_aggregate` is not applicable for that query, since you are only query the `no` field here. MySQL cannot use this index in that case.

But since the `no` field is already a "index", you can simply remove the `USE INDEX` instruction and MySQL would use it automatically.

[2018-04-12 19:43] elpirata15 commented on #142
This query is not being triggered directly or modified by us, this is coming from somewhere event sourcing prooph libraries.

Temporary I sorted this out adding count($where) > 1 to the line 293 for MariaDbEventStore or Myslq, supposing that when $where is more than 1, the SQL triggered is column no + others, when $where is 1 or less, it's filtering by only no or no WHERE clause so will avoid usin

[2018-04-12 19:46] prolic commented on #142
@elpirata15 did you set `$oneStreamPerAggregate` to true on the repository?

[2018-04-12 19:49] prolic commented on #142
@elpirata15 I am asking because I need to know how you came to this query.

[2018-04-12 20:41] elpirata15 commented on #142
@prolic no, this is not set

[2018-04-13 07:05] codeliner commented on #142
@elpirata15
[This](https://github.com/prooph/pdo-event-store/blob/master/src/MariaDbEventStore.php#L280) is the place in code where the query is built. In your case the attribute `$metadataMatcher` should NOT be null and `[$where, $values] = $this->createWhereClause($metadataMatcher);` should return two where conditions with `aggregate_type` and `aggregate_id`.

Can you check that please with a de

[2018-04-13 07:07] codeliner commented on #142
and can you post your symfony yaml conifguration for event store and the aggregate repository?

[2018-04-29 21:10] prolic commented on #142
Closing now. If you still encounter problems reopen again.

[2018-04-29 21:10] #142 closed

[2018-04-29 21:12] prolic opened #145 "Upgrade locking mechanism"
Locking mechanism can be updated like in prolic/awesomeness. No lock-timeout is needed. Hopefully that's possible without BC.

[2018-04-30 10:11] fritz-gerneth opened #146 "OPTION_UPDATE_LOCK_THRESHOLD does not work with values greater 1000"
Played around a bit with this new option, setting values to:
[code]

This causes the next update tick to be calculated incorrectly to a value of f=0.15 , hence causing lock updates more frequently than configured.
This behavior becomes pretty apparent when using `OPTION_UPDATE_LOCK_THRESHOLD = 1000`. This causes the fraction to become `1`.

Workaround is to set the seconds art of the threshold as

[2018-04-30 10:13] prolic commented on #146
@codeliner?

[2018-04-30 12:49] kochen opened #147 "MariaDB does not use INDEX"
When querying for aggregates this query is being used:
[code]
Unlike MySQL, MariaDB doesn't use indexes in these case, therefor the actual columns (which already exists) need to be used.
This causes the query to run in **~1s**. Running it multiple times for various checks... huge performance impact.

Changing manually the query to:
[code]
works as expected and runs in **~0.01s**!

For reference:
h

[2018-04-30 13:15] kochen commented on #147
This is very much the same issue (just different strategy?): #142

[2018-04-30 15:01] fritz-gerneth commented on #146
Weird enough this seems to be correct for small values. For anything greater 7000 this seems to be drifting away though: https://3v4l.org/tIW08
E.g. for values of 20000 (add 20 seconds), the added value seems to be aligning to somewhere arround 7seconds. Not exactly sure I fully understand what is going on there or it is just me with wrong assumptions here :)

[2018-04-30 15:37] codeliner commented on #146
@fritz-gerneth good catch :+1:

See those two lines:

[code]
Instead of increasing the minute, something weird happens here.

[2018-04-30 15:42] prolic commented on #146
I think you have to either create `DateInterval` more granular (seconds + minutes) or let it create by using diff on a `DateTime`-object. If you create a `DateInterval`-object and assign too big numbers to seconds / milliseconds, it doesn't care, and just does it.

[2018-04-30 15:46] codeliner commented on #146
This doesn't work for milliseconds so yes, we need to calculate minutes/seconds and create the interval with those values then add split seconds ... What a mess :cry:

[2018-04-30 15:49] prolic commented on #146
Maybe we limit the value to something, so max value is 5mins f.e., so we
don't need to handle hours, days, weeks, etc (which wouldn't make sense
either)

On Mon, Apr 30, 2018, 23:46 Alexander Miertsch <notifications@github.com>
wrote:

[2018-04-30 15:53] codeliner commented on #146
59 min ?

[2018-04-30 15:56] prolic commented on #146
Ok

On Apr 30, 2018 23:53, "Alexander Miertsch" <notifications@github.com>
wrote:

59 min ?

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/prooph/pdo-event-store/issues/146#issuecomment-385442087>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AAYEvB_PIF3l08GYA3Yb2xHRrrkvH9cnks5ttzOIgaJpZM4TsX3s>
.

[2018-04-30 15:56] codeliner commented on #146
ah wait this one works: https://3v4l.org/aBjB3

[2018-04-30 15:57] codeliner commented on #146
looks like we just need to set seconds correctly

[2018-04-30 16:02] codeliner commented on #146
@prolic @fritz-gerneth can we go with this solution? https://3v4l.org/JPAYn

[2018-04-30 16:03] prolic commented on #146
I see this:
`Value: 2018-04-30T16:07:54.023456 - Diff: 01:-100000 - Expected: 0.9`

[2018-04-30 16:04] codeliner commented on #146
1 - 0.1 = 0.9 ;)

[2018-04-30 16:05] codeliner commented on #146
just look at the time that is constantly increased by 100 ms. We are only interested in this. The diffing was just added by @fritz-gerneth to illustrate the issue

[2018-04-30 16:25] fritz-gerneth commented on #146
The notion is a bit weird to describe `900` by `1000 - 100` but this does not seem to be the only place for this :)
Anyways the solution indeed seems to be to set the seconds correctly, either by property of throughout the initial interval as @codeliner showed. Haven't tested the behavior with large seconds values thought. Might be working correctly when createing an interval with 4000 seconds.

[2018-04-30 16:27] codeliner commented on #146
@fritz-gerneth looks good with 4000 s: https://3v4l.org/n0gdl

[2018-04-30 16:27] codeliner commented on #146
@prolic changes the lock mechanism is a bc break. Isn't it?

[2018-04-30 16:29] codeliner commented on #145
better to discuss this option in the correct issue:

[2018-04-30 16:30] prolic commented on #146
Not sure. From end user perspective nothing changes, only internals are
affected.

On Tue, May 1, 2018, 00:27 Alexander Miertsch <notifications@github.com>
wrote:

[2018-04-30 16:31] prolic commented on #145
Not sure. From end user perspective nothing changes, only internals are
affected.

On Tue, May 1, 2018, 00:29 Alexander Miertsch <notifications@github.com>
wrote:

[2018-04-30 16:32] codeliner commented on #145
Also what happens if lock cannot be released? Throwing an exception might not be a good solution. You end up in a deadlock, right?

With the current solution another projection process can take over when lock timeout is reached.

affected.

But db schema changes

[2018-04-30 16:36] prolic commented on #145
If connection is closed, lock is gone immediately. Nothing to worry. New
schema would not have lock_until column, existing columns just stay, they
are not a problem.

On Tue, May 1, 2018, 00:32 Alexander Miertsch <notifications@github.com>
wrote:

[2018-04-30 16:38] codeliner commented on #145
ok sounds good, but I'm not a database expert. Not sure if we can change behavior without some stress tests ...

[2018-04-30 17:42] #146 closed

[2018-04-30 21:04] codeliner commented on #145
We can create an experimental feature branch and ask a few people if they can test the modified projection  lock mechanism in their projects. If we get positive feedback, I'm ok with it

[2018-04-30 21:15] fritz-gerneth commented on #146
Awesome. Thanks for the fast fix & feature in the first place! :)

[2018-04-30 21:53] codeliner commented on #146
@fritz-gerneth thx for your fast bug report and great demonstration of the problem. I really enjoyed this bug hunting session! This is the real power of open source :heart:

[2018-05-01 10:36] prolic commented on #145
`binlog_format` default value is `ROW`. But we can add another hint in the documentation, that you should not change that.

The timeout should be 0, that's still a bug in prolic/awesomeness

[2018-05-01 15:06] prolic commented on #147
@codeliner or @basz do you have time for that?

[2018-05-01 15:06] basz commented on #147
nope, sorry

[2018-05-02 05:44] codeliner commented on #147
@kochen Can you try to provide a PR?
Fortunately, we decided to copy and paste some code for the pdo event store variations (yes, code duplication is sometimes the better approach). You should be able to fix the problem wihout breaking MySql and Postgres implementation. We can assist if you encounter problems but I have not that much time to work on the issue immediately.

[2018-05-02 07:04] kochen commented on #147
@codeliner I could try, but the problems I see are these:
1. As you mentioned here https://github.com/prooph/pdo-event-store/issues/142#issuecomment-381044157 the call to the `createWhereClause` method is done by the `AggregateRepository` which is infrastructure agnostic and it uses `_aggregate_id` & `_aggregate_type` & `_aggregate_version` which are the `Metadata` keys instead of the `aggregate_i

[2018-05-02 07:06] prolic commented on #147
Maybe add a method indexArrays():string[] to the mariadb persistence
strategies, and when metadata matcher is used for query building, you check
against indexed arrays and use them as normal fields if needed.
Just a quick idea.

On Wed, May 2, 2018, 15:04 MtK <notifications@github.com> wrote:

[2018-05-02 09:08] kochen commented on #147
Here is a quick and dirty but simpler solution that works!
It reduced our API call times from **>2s** to **<50ms**!

[2018-05-03 06:31] oqq commented on #147
To prevent this type of issues in future major releases, I would suggest to create queries always in "Strategies".

This way we could react to platform issues without breaking other implementations. Also, this add a simpler way to add micro optimizations in queries for prooph component users.

[2018-05-03 06:49] oqq commented on #147
I have investigated in this issue 20 minutes and see no way to fix it without a bc break. Sorry :/

[2018-05-03 06:57] kochen commented on #147
@oqq for the moment it'll be pathed for MariaDB only, and for the next Major release we might "have to" break BC - even though we could introduce an `AbstractPersistencyStrategy` and solve it there.

[2018-05-03 07:02] kochen commented on #147
@prolic @codeliner according to this: http://rpbouman.blogspot.nl/2015/11/mysql-few-observations-on-json-type.html we should expect the same issue on MySQL as well.
Could any of you confirm this?

[2018-05-03 07:10] kochen commented on #147
strike that:
![image](https://user-images.githubusercontent.com/106042/39563788-d8098ba8-4eb1-11e8-8bc1-752faedb90c0.png)

[2018-05-03 11:09] #147 closed

[2018-05-03 11:10] prolic commented on #145
closing this now. reason: it's not possible to do without any BC breaks, I see any limitations on mysql server settings after the fact as a BC. This will only be changed in new major release.

[2018-05-03 11:10] #145 closed

[2018-05-04 05:27] prolic opened #150 "Key value mapping in indexedMetadataFields required"
Current implementation uses substr to map _aggregate_id to aggregate_id. Problem is, users are free to index other metadata fields as well, so they can index a field named 'house', but would need to generate a field named 'ouse'. But what if they have another field named 'mouse' that needs to be indexed as well? As you see, the substr solution was not that a good idea.

Unfortunately I released th

[2018-05-04 05:38] sandrokeil commented on #150
I think it's a bugfix and not a BC break if we change it back. Simple question: Why not only remove first sign if it is an underscore?

[2018-05-04 05:40] prolic commented on #150
That's a good idea. However you could have a metadata field 'one' and
generate an indexed column 'two'. Unlikely, but possible.

On Fri, May 4, 2018, 13:38 Sandro Keil <notifications@github.com> wrote:

[2018-05-04 11:06] kochen commented on #150
@prolic yes, you are right, but that it only possible on (any) `CustomMariaDBPersistenceStrategy`) so for the `prooph` component itself it's "safe" enough.

We could easily introduce the mapping, just like I did in the first proposed commit of the fix:
https://github.com/prooph/pdo-event-store/pull/149/commits/f25eefcf42d324192d0fb7be7cad0ee1a4daecf2

But for a more future proof solution, I think

[2018-05-04 11:07] prolic commented on #150
So either we roll back to your first commit, or we substr only when first character is '_'. What do you think?

[2018-05-04 11:14] kochen commented on #150
I wouldn't rollback as it's not a full implementation, but we could "fix" it into that way.

I did add a comment in the README about this for CustomStrategy implementer.
So, what I think is better, is to actually leave it as is for now, and think of a proper solution for the next major release, with any potential BC that might occur.

[2018-05-04 11:17] prolic commented on #150
Don't worry about next major release, because it will not have any persistence strategies at all.

the substr solution is really bad, because it denies custom indexes. if we agree to at least only remove first character if it's `_`, then we can still allow custom indexes.

[2018-05-04 11:36] kochen commented on #150
I can easily change the substr with a mapping, with the assumption that the `indexedMetadataFields` has a correctly formatted mapping.

[code]

and then in `convertToColumn` (something like):
[code]

[2018-05-04 11:37] kochen commented on #150
Shall I just provide an initial PR?

[2018-05-04 11:52] prolic commented on #150
yes please

[2018-05-04 12:07] kochen commented on #150
done

[2018-05-04 15:11] #150 closed

[2018-05-15 14:52] enumag opened #154 "Floats in events are serialized as integers"
When I have a float value in an event without decimals (for example `1.0`) it is saved to the EventStore as simply `1`. Because of this when the event is later retrieved from the EventStore and deserialized, the information that the number was a float is lost - it becomes an integer.

If this is intended for Prooph then just close this issue. If you want to fix it then it's easy to do so using `JS

[2018-05-15 15:12] prolic commented on #154
We can check for json_last_error() and use additional flags, wanna submit a PR?

[2018-05-16 08:52] enumag commented on #154
Only if it would be integration of an existing library. I don't have time to copy the logic to prooph and write all necessary tests.

[2018-05-19 03:17] darrylhein opened #155 "Charset/collation on event stream tables"
Is there a reason the event stream tables are `utf8` instead `utf8mb4`?

And related, do they need to be case sensitive? ie, `utf8_bin` vs `utf8mb4_unicode_ci` (just curious)

[2018-05-24 06:45] ghettovoice opened #157 "Postgres event store with schema support"
Hello,
thank you for the awesome library!
I use pdo store with postgres and I want to create store tables in the custom DB schema.
Is it planned to add support of multi schemas event stores in PostrgesEventStore and Persistence strategies? Currently this is impossible due to quoting the whole $tableName variable.
Thanks!

[2018-05-24 17:17] #155 closed

[2018-05-25 06:54] ghettovoice commented on #157
I need this feature in my current working project where we have separate schema for each module.
So I've done a pull request with changes to Pg related classes to add such feature.
Seems like all work as before, tests are passed. Le me know if you have questions about pull request.
Thank you for the great job!

[2018-06-07 10:09] enumag opened #160 "Ignored error in PdoEventStoreReadModelProjector"
In `PdoEventStoreReadModelProjector` there is a case where an SQL query that causes an error is intentionally ignored ([here](https://github.com/prooph/pdo-event-store/blob/c3e925cf1c8b169b753e363a602a728e1e1c1aee/src/Projection/PdoEventStoreReadModelProjector.php#L682-L693)).

While this error indeed looks like something that can be ignored, it does actually cause some problems.

First in our imp

[2018-06-07 10:25] enumag opened #161 "Confusing ConcurrencyException"
Recently we encountered some cases of `Prooph\EventStore\Exception\ConcurrencyException` (thrown [here](https://github.com/prooph/pdo-event-store/blob/c3e925cf1c8b169b753e363a602a728e1e1c1aee/src/PostgresEventStore.php#L221)).

From the name we thought the EventStore failed because there was some other process already working with it, but that wasn't the case. After I added some debug code to dump

[2018-06-07 10:46] prolic commented on #161
When aggregate type and version already exists, throw concurrency
exception. On duplicate event id, we can throw another exception.

Not sure if we have enough information which event made the exception if we
append multiple events at once.

On Thu, Jun 7, 2018, 18:25 Jáchym Toušek <notifications@github.com> wrote:

[2018-06-07 10:47] prolic commented on #160
Yes, sounds good, thanks.

On Thu, Jun 7, 2018, 18:09 Jáchym Toušek <notifications@github.com> wrote:

[2018-06-07 16:18] #160 closed

[2018-06-07 16:21] #161 closed

[2018-06-12 10:50] joshdifabio commented on #139
Regarding the stream-per-aggregate approach, has it been considered to change the database schema so that we can rely purely on DB queries to tell us which projections are out of date instead of looping over them all in PHP?

Here is a quick example -- I'm not sure about the scalability of the example query at the end.

[code]

The queries could obviously also be modified to join to the projection

[2018-06-12 10:53] prolic commented on #139
That's a BC break and will not be done. I'm working already on the next
major release which solves this problem already.

On Tue, Jun 12, 2018, 18:50 Josh Di Fabio <notifications@github.com> wrote:

[2018-06-29 13:13] codeliner opened #164 "MariaDB 10.2.16 causes issues"
During release of pdo-event-store 1.9 we encountered errors testing mariadb.
BETA was tested against mariadb 10.2.15 and everything worked fine. But now with mariadb 10.2.16 being available our travis build fails: https://travis-ci.org/prooph/pdo-event-store/jobs/398146743

We were able to reproduce the bug locally using official mariadb docker images:
mariadb 10.2.15 :heavy_check_mark:
mariadb 10

[2018-06-29 13:33] gquemener commented on #164
Here are the steps to reproduce the phpunit errors locally:

[code]

And here's the diff between https://github.com/MariaDB/server/compare/mariadb-10.2.15...mariadb-10.2.16 (if of any help).

[2018-08-26 14:53] basz opened #168 "deleting running projections will not restart from event 0"
When I have a projection running that is instructed to delete with deletion projections are not removed until *all* events have been processed.

I would expect it would finish projecting events within the batch size configuration option to then delete and restart.

discovered this via snapshots which are also read model projections.

Looking at the code this seems to be true for all status changes

[2018-08-29 16:49] basz commented on #164
remark. I found I needed 10.2.14 not 10.2.15 to get the tests working. So, 10.2.14 one would need.

[2018-09-06 16:14] prolic commented on #168
@basz can this be closed now?

[2018-09-06 17:42] basz commented on #168
Closing per #170

[2018-09-06 17:42] #168 closed

[2018-09-20 17:50] drgomesp commented on #164
I can confirm what @basz says, as I also ran into the same errors with **10.2.15**.

[2018-09-20 21:14] prolic commented on #164
Failed asserting that 5 matches expected 49

That's because of a bugfix in eventstore I guess. See latest release

On Fri, Sep 21, 2018, 04:26 Gildas Quéméner <notifications@github.com>
wrote:

[2018-09-21 11:58] basz commented on #164
MariaDB version | Result
------------ | -------------
mariadb:10.2.14 | OK (394 tests, 2183 assertions)
mariadb:10.2.15 | OK (394 tests, 2183 assertions)
mariadb:10.2.16 | Tests: 394, Assertions: 2167, Errors: 8. *(same output as above)*

10.2.15 seems good after all.

note: all done with `composer update` and `docker-compose -f docker-compose-tests.yml down --rmi all -v --remove-orphans` in-betwe

[2018-09-21 14:31] gquemener commented on #164
Currently debugging this, I'll leave my notes here to keep track of them.

I've detected a difference in the behavior of the `json_value` function between 10.2.15 and 10.2.16.
(Note: this function is used to load events with a metadata matcher [here](https://github.com/prooph/pdo-event-store/blob/master/src/MariaDbEventStore.php#L699)).

As a matter of fact,
the query `SELECT json_value('{"foo":tr

[2018-09-21 14:35] gquemener commented on #164
It looks like it's been done on purpose (aka feature, not a bug) => https://github.com/MariaDB/server/commit/352c7e0dfaa0f121c5b35e1d9fafb9ec8897e768

[2018-09-22 17:57] #164 closed

[2018-09-23 16:31] prolic commented on #86
Coming to this again today (more then one year later) as we are planning event-store v8, I think this is another reason to pin this new major release to postgres only. I leave this issue open for now, until we get to implement and work really on v8

[2018-09-23 16:31] prolic commented on #74
As there is nothing done here, I am closing this issue. If someone wants to give it a try, feel free to open a pull request.

[2018-09-23 16:31] #74 closed

[2018-09-23 18:13] sandrokeil commented on #86
But MongoDB 4 has [such a feature](https://docs.mongodb.com/manual/changeStreams/) too and it is  [implemented here](https://github.com/sandrokeil/mongodb-event-store/pull/1/files#diff-172f030dd45ac56313bbf9fc1181933fR39).

[2018-09-24 08:04] basz commented on #154
## summerizing

### JSON_PRESERVE_ZERO_FRACTION
definitely an issue. A value as float(-1.0) will become int(1) without

### JSON_UNESCAPED_UNICODE
If I understand this correctly. "က" is encoded as "\u1000" without the flag en "က" with. json_decode works regardless. So adding this flag we would go from  \u1000 notation which should work in any table/column to "က" for which the correct collation sho

[2018-09-24 08:57] fritz-gerneth commented on #154
Minor typo, should be `int(-1)`.
Personally I don't see any issue on this though. JSON representation is an internal format only. So output format only matters. But this is up to your events anyway. What is the benefit of storing the fraction?

Storing the fraction does not the decoded result. Neither does adding an explicit cast to a float.
[code]
On the event side you should result anyway and no

[2018-10-07 10:18] ramondelafuente commented on #154
When working with the `MariaDbSingleStreamStrategy`, we're having trouble storing unicode characters in the payload. As stated, the string "က" is encoded as "\u1000", which then gets escaped to "\\u1000" when storing the event. This triggers an error in the "`CHECK (`payload` IS NOT NULL AND JSON_VALID(`payload`))" that exists on the table definition, leading to a very confusing "Duplicate key" er

[2018-10-07 15:44] enumag commented on #154
I don't think this will be fixed in Prooph 7 because of BC and Prooph 8 will only be event store so it's not really related (maybe as an util class). But it's surely something to be mentioned in the docs at least.

@prolic What is the current status btw? I didn't really follow prooph since the big announcement but there doesn't seem to be anything happening in the awesomeness repo either.

[2018-10-10 12:25] grzegorzstachniukalm opened #176 "Resetting projection during event processing behaves incorrectly"
The behavior of PdoEventStoreReadModelProjector on resetting is different during event processing and event loading

when i'm resetting projection during stream handling, projection is stopped due to
[code]

[code]

[2018-10-11 17:39] prolic commented on #176
I don't understand what you are asking for.

[2018-10-12 07:40] grzegorzstachniukalm commented on #176
Please restore isStopped property to false after resetting projector

[2018-11-02 19:34] prolic commented on #154
@enumag most of my free time currently goes into this: https://github.com/prooph/event-store-client

[2018-11-04 16:08] basz opened #179 "Starting a Projector with `stopping` state, losses state"
I have a PdoEventStoreProjector instance that has some state (the processed events, per stream. for example `{"identity_user": 9}`) and a status column with `stopping`. When I start that projector again, the state is lost... I think that is not correct... What say you?

I believe this happens https://github.com/prooph/pdo-event-store/blob/305ee1434af317043908fd547378b05bd12a3c98/src/Projection/Pdo

[2018-11-05 08:51] basz opened #181 "Projector status"
While fixing #179 I think I might have stumbled upon some deeper problem.

Suppose I have no projections running and with help of the projection manager I instruct a projection to stop. The remote status is changed to 'stopping'. This is weird in itself because it was not running, but ok.

So now the projection is started to begin projecting event. Upon startup the active projector will see the 's

[2018-11-05 10:21] prolic commented on #181
I will check this when I have some time.

Sascha-Oliver Prolic

Am Mo., 5. Nov. 2018 um 16:51 Uhr schrieb Bas Kamer <
notifications@github.com>:

[2018-11-07 16:34] AlessandroMinoccheri opened #182 "Error No such table"
Hi all, I have a problem with my first project in prooph.
When I save an event I get this error:

[code]

I have configured this persistence strategy:

[code]

I'm sure that I have lost something, so I have tried to launch this command taken from a prooph project:

[code]

it creates into the database into event_stream table the right record and into stream_name there is the same string of my erro

[2018-11-09 10:48] AlessandroMinoccheri commented on #182
Solved, it was a problem of a wrong project initialization script

[2018-11-09 10:48] #182 closed

[2018-11-09 10:52] AlessandroMinoccheri opened #183 "Projection with end2end tests"
Hi all, I would like to add some end2end test with phpunit into my symfony app.

So I would like to call an api url and check the response.

Inside the api url there is a call to a projection. So I need to start it with a command like this:

[code]

If I launch a script test like this:

[code]

I get this error:

[code]

If I make the call with Postman and launch my projection command it works fin

[2018-11-10 07:35] prolic commented on #181
To me pause is the same as stop, so we have this already, no?

[2018-11-10 07:36] prolic commented on #183
Maybe just a bug in the symfony bundle? Can you debug this?

[2018-11-10 08:39] basz commented on #181
Not really.

Consider having a long-running process managed by supervisord. There is a difference between that being stopped and the projection being (what I would call) paused.

I would like to keep the process running but the projector inactive (via the process manager) so I can reset the event store with fixtures in tests or development. Currently, I need to stop it, do my tests or import fixtu

[2018-11-10 08:45] prolic commented on #181
When this is not a bug (as of now), can we close this issue? v8 will be
different anyway.

On Sat, Nov 10, 2018, 16:39 Bas Kamer <notifications@github.com wrote:

[2018-11-10 08:45] #181 closed

[2018-11-10 08:53] AlessandroMinoccheri commented on #183
The problem is that you need to launch the command to run projection that remain in pending..
So I have found this solution to launch tests correctly

[code]

In this way the run process comand is in background

[2018-11-10 08:55] prolic commented on #183
Great, so can we close this issue?

On Sat, Nov 10, 2018, 16:53 Alessandro Minoccheri <notifications@github.com
wrote:

[2018-11-10 08:57] AlessandroMinoccheri commented on #183
Yes. I don't like this solution but at the moment it works

[2018-11-10 08:57] #183 closed

[2018-11-10 16:55] basz commented on #176
I dont believe so. Afaik the process does  not stop after resetting.

[2018-11-10 17:31] basz commented on #176
Could you provide a PR and test?

[2018-11-13 09:39] basz commented on #176
I had a look already. Does this test describe the issue? Please use it in *EventStoreProjectorTest.php and *EventStoreReadModelProjectorTest if so.

(note that: prepareEventStream('user') prepares 50 events and after resetting it *once* it should start over, hence counting 70 events)

[code]

[2018-11-29 17:53] grzegorzstachniukalm commented on #176
You almost got it, it is about keepRunning Projection, thanks for snippet, i added it to tests with small change :)

[2018-12-31 16:53] elythyr opened #187 "Projection implementation dependent on Message interface"
Hi,

First of all, thanks for the work done!

To gave a bit of a context: I'm trying to use Prooph, with the PDO implementation and Symfony bundle, to work with my model without changing it.
I don't use Prooph event sourcing component at all.

Since my domain events doesn't implement the Message interface I created a wrapper for them.
So before storing I wrap them, and with a listener on "load" I

[2019-01-01 15:08] prolic commented on #187
This would be a BC break and cannot be done. EventStore v8 is already in the pipeline though.

[2019-01-01 16:43] elythyr commented on #187
So I guess that mean I didn't misunderstand the situation at least.
And I was more thinking about something like:
[code]

To avoid to break anything indeed.
But I will keep an eye on the dev branch for now and use composer VCS repository for my project :)

[2019-01-25 14:43] prolic commented on #187
@elythyr if you can provide a test-case and a patch, that seems to be reasonable to me.

[2019-01-27 16:10] elythyr commented on #187
It doesn't worth the time.
I didn't saw any unit test allowing to mock an event store and control the `load` method result.
To reproduce what is done in the existing tests it would require to create a new event store that handle domain event which does not extend the `Message` interface.
A listener to change the results of the `PdoStreamIterator` (because its only able to create objects extending

[2019-01-30 16:23] fritz-gerneth opened #189 "MySQL Projections skipping events (SingleStreamStrategy)"
**Issue**: under unknown circumstances the `PdoEventStoreReadModelProjector` skips applying events to registered handlers.

I have seen this issue happen a few times over the past year only. Yet since missing events in the projections causes quite a few problems I'm trying to figure out the issue since then. Creating this issue for tracking & by any chance input from others.

**Setup**: Mysql Even

[2019-01-30 18:56] codeliner commented on #189
that's a serious problem ...

We had a similar issue with our mongoDB v6 event-store. Same symptoms:
- only seems to happen when I insert events at a very high rate
- while ordered in that way rows become visible to selects in a different order

Some background. We have an event sourced service that processes SAP changesets (IDOC XML files). A Java Middleware sits between our service and the SAP E

[2019-01-30 21:30] mrook commented on #189
@fritz-gerneth Axon supports any projection, as long as you can write the event handler for it. With the default `SequencingPolicy` (added in 3.1), events are guaranteed to arrive at the projection event handler(s) in the order they were published on the event bus.

[2019-01-31 12:31] prolic commented on #189
@codeliner your approach with using metadata for this should also work, but I prefer to keep the event immutable.

[2019-01-31 13:40] prolic commented on #189
@fritz-gerneth researching for this problem I found this article https://www.matthewbilyeu.com/blog/auto-incremented-values-can-appear-out-of-order-if-inserted-in-transactions/ - I hope it helps.

About adding an eventLoadStrategy: I think we should not do that, as it further complicates the usage of the event-store (we have already lots of configurable options, persistence strategies, ...). It's

[2019-01-31 13:48] mrook commented on #189
@fritz-gerneth I see, and yes it's implemented differently. Projections (event handlers) in Axon typically do not directly query the event bus (they can, but there's really no point), but instead are fed events through a processor, which either follows the live stream or replays from a certain position.

[2019-01-31 16:06] sandrokeil commented on #189
I would really appreciate that. We only need the autoincrement value to sort the events and read them forward and backward. If we use a stream/watch mechanism like in MongoDB or Postgres, events occur in the order they are saved to DB. As we can see, the autoincrement value is not really the order of events. I have discussed this a little with @codeliner and we have no really solution for the sort

[2019-01-31 16:21] prolic commented on #189
EventStore (http://eventstore.org/) also has incrementing event positions, starting from 0. So all its events are positioned as 0, 1, 2, 3, 4, ... and there are no gaps, never ever.

I looked into this on how they solved this on their side (although they don't use SQL) and their solution (I don't know if that's the only reason why they do this, and I suppose that it's not the main reason) is to us

[2019-01-31 19:29] #176 closed, assigned to nobody

[2019-02-01 10:18] fritz-gerneth commented on #189
Performance impact of doing so would greatly depend on the stream strategy. Per aggregate should not be any major impact since Aggregates already kind of enforce this through event versions. But for for the others this would be a table lock affecting writes to either all aggregates of the same type or all aggregates on the system.
Even not allowing concurrent writes to the different ARs of the sam

[2019-02-01 10:22] prolic commented on #189
@fritz-gerneth if you have high write throughput right now, maybe you can test using "GET_LOCK" for a few hours in production and see if the impact is really that huge? Maybe it's still acceptable. The main problem that I see is the additional roundtrip which leads to higher locking times. That's why I think having stored procedures in place might be a better solution then sending multiple queries

[2019-02-01 13:06] fritz-gerneth commented on #189
Before testing this in production I wanted to see how this behaves and if it can actually solve the problem. I created a simple set of scripts to illustrate & test this issue:
- A [generator script](https://gist.github.com/fritz-gerneth/4445953f2e58aac9507c697646dd431c#file-event-generator-php) that inserts a fixed amount of events into a table, optioinally with using `GET_LOCK`
- A [wrapper ](htt

[2019-02-01 13:13] prolic commented on #189
As I thought already. Can you try the same with a stored procedure? So a) getlock, b) start transaction, c) write data, d) commit transaction and e) release lock is only one db roundtrip?

[2019-02-01 15:21] fritz-gerneth commented on #189
Since the amount of rows we want to insert in one transaction varies I'm not entirely sure what would be the best way for stored procedures.. the only solutions I can find for this rely in passing in the data as a string and do some string-spliting afterwards.. which is a solution I hardy would want to start with even. but then i'm no expert with stored procedures and maybe there's a better soluti

[2019-02-02 23:19] fritz-gerneth commented on #189
Using this stored procedure I did re-run the test-sequence again:
[code]

Results are all within the margin of variation, no real benefit visible here. I'll re-run those tests on a remote server again tomorrow to see how much network latency affects this.
[code]

[2019-02-03 12:07] fritz-gerneth commented on #189
Apparently it was too late yesterday, figured I did run the wrong scripts to test the stored procedure :) Will re-run these on our staging servers once we have the permissions set there to do so.
Meanwhile I ran the two other script versions there already (no locking, locking) on a remote database server. Due to timings only for the two and 10 consumers:
[code]

Looking at where query-time is spen

[2019-02-03 21:34] fritz-gerneth commented on #189
At last, here's the data for using the the stored procedure:

[code]

![grafik](https://user-images.githubusercontent.com/1294731/52182977-9d43f400-2803-11e9-89cd-e5a3dcecea2c.png)

[2019-02-03 21:52] prolic commented on #189
@fritz-gerneth @codeliner My thoughts based on the investigation by @fritz-gerneth (Thanks again for this, awesome job!):

- When I read this correctly, then stored procedures are not needed, as the performance difference is very small -> That's really great because this really simplifies a lot.
- Depending on the amount of producers, the write performance drops about 30%-50%, but is still in an a

[2019-02-05 22:54] fritz-gerneth commented on #189
If there are no objections, I'll write up a PR tomorrow to:
- Add this feature to the `appendTo` method of the event stores for MySQL & MariaDB
- Pessemistic locking disabled by default, can be enabled via constructor argument
- Add some documentation on the readme on when to enable this
- Lock names will be something like `$streamName_writeLock`

I'd skip Postgres for now, mostly because I have l

[2019-02-06 17:58] prolic commented on #189
@fritz-gerneth sounds good to me, thank you very much! I'l try to look into postgres this weekend, I hope I find the time.

[2019-02-17 15:34] markkimsal commented on #189
you can guarantee no gaps by changing the isolation level of the transaction.

 `SET SESSION TRANSACTION ISOLATION LEVEL SERIALIZABLE;`

This effectively makes the server single-threaded with respect to concurrent transactions and removes the need for round-trip locking and unlocking.

It impossible to enter the scenario describe in the comment :

[2019-02-17 16:01] prolic commented on #189
@markkimsal that's awesome, thank you.
@fritz-gerneth can you verify?

@markkimsal do you know about postgres?

[2019-02-17 17:17] markkimsal commented on #189
[code]

I just tested with and without using the above generator scripts... no GET_LOCK, but instead using the set isolation level, saw about a 5% drop in performance.  Only testing 1k events.

[2019-02-17 17:19] markkimsal commented on #189
postgres 9.1 supports `SET TRANSACTION ISOLATION SERIALIZABLE`  or `SET SESSION CHARACTERISTICS AS TRANSACTION ISOLATION SERIALIZABLE`

[2019-02-17 17:31] prolic commented on #189
Awesome, thanks!!

On Mon, Feb 18, 2019, 01:19 Mark Kimsal <notifications@github.com wrote:

[2019-02-17 17:45] markkimsal commented on #189
unfortunately, still getting gaps... just fewer

[2019-02-17 19:43] fritz-gerneth commented on #189
How doe this behave with respect to multiple concurrent sessios though?

gaps are to be expected (e.g. on concurrency-exceptions). the issue (hopefully?)  to be solved is that events are read out of order. I have [outlined the approach](https://github.com/prooph/pdo-event-store/issues/189#issuecomment-459408541) for actual gap detection or tracking on the consumer side.

what's your setup on this?

[2019-02-18 15:11] markkimsal commented on #189
It seems that, even though isolation level appears to block other transactions in a multi-terminal setup, it doesn't affect the view of the data from a 3rd party i.e. the event-consumer.php script.  I still get gaps.  I also get gaps with SELECT GET_LOCK.  The only thing that stops pkey gaps is doing `LOCK TABLES _gcl_... WRITE` and `UNLOCK TABLES` inside the transaction.

I'm testing with php 7.1

[2019-02-18 22:09] fritz-gerneth commented on #189
Yes. that's the whole issue here. Even when looking at the database later on the gaps are not there yet.

I see you're using my test scripts too. Those are not compatible for MariaDB out of the box. I'm using a timeout of `-1` which MariaDB does not support but throws an sql error. Took me a day to figure this out :( See [this ](https://github.com/prooph/pdo-event-store/pull/190#discussion_r254868

[2019-02-19 15:05] markkimsal commented on #189
well, if the problem is in the consumer the producers don't need any changes.  With the addition of serializable isolation level we can be certain that TXA commits and finishes before TXB, but the consumer only sees TXB in the results.  Even changing settings like `innodb_flush_log_at_trx_commit=1` doesn't seem to ensure that the reader and read concurrent inserts in chronological order.

Adding `

[2019-02-19 15:55] fritz-gerneth commented on #189
Why should this ensure the correct sequential order of reads when reading? This only prevents issues with concurrent writes on the same row. But that's not happening here anyway.
Besides this would make reading a stream single consumer only.

which problem are you trying to solve? out of order reading of events (and thus skipping) or event number gaps? those are different things and require differ

[2019-03-18 18:54] danizord commented on #142
Having the same issue here with `SingleStreamStrategy`. When the projector is loading events, it uses `EventStore::load()` without a `MetadataMatcher`, but still the generated query contains the `USE INDEX` hint, which prevents MySQL from using the PK index.

Here's the projector query:
[code]

It normally takes 0.19646025 to run, but without the `USE INDEX` it takes 0.00045325, which is a huge di

[2019-03-18 19:02] danizord commented on #142
Actually, looking at the implementation, I'm not sure if such a PR would make sense. So I fixed it by replacing the `PersistenceStrategy` of my projectors with a custom one that does not implement `HasQueryHint`.

@prolic if you have any better suggestion to fix that, just ping me and I'll send a PR.

[2019-04-05 17:17] PatchRanger opened #193 "Use tablespaces?"
I could be wrong or missing something - but here is the concern I have:
- Current event-store implementation implies large number of tables: one per entity. It is configurable (on/off) - but nevertheless.
- https://www.percona.com/blog/2017/10/01/one-million-tables-mysql-8-0/ : MySQL and MariaDB are pretty "sceptic" about having large counts of tables. I mean, their internal structure do not fit t

[2019-04-05 17:19] prolic commented on #193
I'm worried this would be a BC break.

On Fri, Apr 5, 2019, 13:17 Dmitry Danilson <notifications@github.com> wrote:

[2019-04-06 09:12] PatchRanger commented on #193
@prolic I understand. Let's plan it as a feature for next major release? I could be considering promoting usage of the event-sourcing in general and your library in particular at my work - but this point is crucial in terms of deployment: we already have millions of rows and millions of tables sound worrying, if we keep in mind concerns I explained above.

[2019-04-06 12:29] prolic commented on #193
If the amount of tables is a concern, then use the single stream strategy (with one table per aggregate or one table for all events).
The next major release is already in the pipeline and this will not be a problem anymore.

[2019-04-06 12:29] #193 closed

[2019-04-06 12:31] prolic commented on #193
By the way: the single stream strategy is already the recommended one in the docs and not one table per aggregate as you suggested.

[2019-04-08 14:19] brunowowk opened #194 "PdoEventStoreProjector::updateLock should not update projection position"
When updating the projections table lock, used to prevent two of the same projection running at the same time, the position is also updated:

https://github.com/prooph/pdo-event-store/blob/master/src/Projection/PdoEventStoreProjector.php#L843

This leaves the position and state out of sync until the next persist(); If the projection fails before that persist() it might skip some events on the next

[2019-04-09 18:37] #194 closed

[2019-04-11 12:23] brunowowk opened #198 "Projection fails sometimes when lock timeout is less than 100ms"
https://github.com/prooph/pdo-event-store/blob/01b2cf3d30c1d01a7ad87cc00eb968de97c9c79a/src/Projection/PdoEventStoreProjector.php#L991-L1001

sometimes, on the start of a second, the value in microseconds plus the timeout will have less than 6 digits (when the timeout alone doesn't have at least 100000 microseconds), then `\substr($micros, 0, -6)` will return false and modify will fail:

[code]

[2019-04-11 12:25] brunowowk commented on #198
And maybe we could add some early returns to ignore this whole projection lock mechanism when the timeout is 0. This could be useful if we decide to manage projection concurrency on our own.

[2019-04-16 11:54] basz opened #199 "Postgres with metadatamatcher"
With around 250000 events in a Postgres Simple Strategy table the snapshotter becomes slow.

I've investigated this a bit and it seems the snapshotter loads from the store with a metadatamatcher to create queries like;

[code]
EXPLAIN
[code]
These queries take around ~500milliseconds to complete, which is slowish to me.

So, I read about the GIN index which is indented for jsonb columns.

Adding a

[2019-04-16 12:00] basz commented on #199
reference: https://bitnine.net/blog-postgresql/postgresql-internals-jsonb-type-and-its-indexes/

[2019-04-16 14:56] prolic commented on #199
You are using the wrong persistence strategy. You should use SingleStreamStrategy instead.

[2019-04-16 15:08] basz commented on #199
Sure. Did not realize this. Any advice on how to merge multiple streams into one?

[2019-04-16 15:11] prolic commented on #199
If you have one stream per aggregate type, you don't need to change anything. It can very well be a single stream for "user" and another single stream for "blogpost". You should be able to simply change the configuration of your application and migrate the database to include those missing indexes.

[2019-04-24 14:27] coudenysj opened #200 "Huge load on MySQL server"
We're using prooph in a fairly small project (for now), but we see a big load on our MySQL processes due to the projections polling the server each 0.1 second.

The versions of the packages are:
[code]

We have 15 projections running, and we're using the `MysqlSingleStreamStrategy`.

Is there anything we can do about this load?

[2019-04-24 19:30] prolic commented on #200
Yes you can configure this polling timeout. Have a look at the docs

On Wed, Apr 24, 2019, 10:27 Jachim Coudenys <notifications@github.com>
wrote:

[2019-04-25 11:35] coudenysj commented on #200
Thanks @prolic for the advice, I know the setting, but this will still generate some load when the projection count increases.

Are you guys using a different approach? Or are you just living with the load?

[2019-04-25 15:05] prolic commented on #200
Configure this setting until you have a sweet spot with load VS up to date read models. The only "better" way is having truly asynchronous projections and listeners (available in postgres).

[2019-05-10 07:15] basz opened #201 "fromStreams(a, b, c) does not process in order"
The observed behavior

`$projection->fromStreams(streamA, streamB)` processes *all* events first from streamA, then *all* events from streamB regardless of the creation timestamp of the events.

https://github.com/prooph/pdo-event-store/blob/master/src/Projection/PdoEventStoreProjector.php#L515

The expected behavior.

It should process events in order across streams.

Solution.

An iterator that

[2019-05-16 08:52] basz opened #203 "Projections (v7) with '->when(event)' won't persist the position until a registered event handler is called"
Given
- a projection that handles a few events and not all, thus entering the `handleStreamWithHandlers` method.

Looking at the code for that method it does not increment the processed events ($this->eventCounter) until it encounters a registered message handler. Therefore the position of 'streamed' events will not be persisted until a registered message handler is encountered.

I believe this is

[2019-05-17 05:30] sandrokeil opened #204 "Use `count()` to support Generators"
See https://github.com/event-engine/php-engine/issues/6

I think we can use `\count($data)` [here](https://github.com/prooph/pdo-event-store/blob/master/src/PostgresEventStore.php#L194-L200) instead of `\iterator_count($streamEvents)` to support Generators. Any concerns?

[2019-05-17 10:35] arnedesmedt commented on #204
I tried your solution already, but it will not work. Every $streamEvent generates 5 $data entries. See https://github.com/prooph/pdo-event-store/blob/master/src/PersistenceStrategy/PostgresSimpleStreamStrategy.php#L75-L90

So the result will be 5 if 1 streamEvent needs to persist.

[2019-05-17 10:49] arnedesmedt commented on #204
According to: https://stackoverflow.com/a/22858509/919902

Generators are used to loop over them only once. A possible solution could be to count the streamEvents in the prepareData function and return the result of the count with the data array.
But it's not a very neat solution.

What is the reason for using a Generator in event-engine/php-engine? Maybe that could be changed?

[2019-05-20 12:33] sandrokeil commented on #204
Sorry, didn't checked this.

[2019-05-20 12:33] #204 closed

[2019-05-25 19:26] #203 closed

[2019-05-25 19:26] #201 closed

[2019-05-25 19:27] #200 closed

[2019-05-25 19:28] prolic commented on #198
wanna provide a PR?

[2019-05-25 23:16] prolic commented on #199
@basz anything we need to do here?

[2019-05-26 08:35] basz commented on #199
Forgot about this one. I have resolved it.  a matter of not having the correct indexes and being a panicky :)

[2019-05-26 08:35] #199 closed

[2019-05-26 12:42] brunowowk commented on #198
Actually, I just wanted to rant, drop the issue and be done about it

Haha sorry, I was in the middle of something when I found out about this so I just documented it to get back later. OFC I forgot about it shortly after :P

Here you go (: #206

[2019-05-26 20:23] #198 closed

[2019-05-26 20:32] prolic commented on #198
see https://github.com/prooph/pdo-event-store/releases/tag/v1.11.1

[2019-08-28 18:43] Mattin commented on #189
Btw this is still an issue. GET_LOCK is not doing anything to this, projections from pg event-store are still skipping from 5-10% of events, which is huge. I tried transaction isolation too but results are the same. Anybody with some solution to this?

[2019-08-29 07:02] codeliner commented on #189
@Mattin Do you have some more details about your setup? 5-10% of events is really huge. We did not see such massive skips before. For example how many events per second do you have?

Did you try to run the test scripts to verify your issue? https://github.com/prooph/pdo-event-store/issues/189#issuecomment-459716674

[2019-09-10 10:33] fritz-gerneth commented on #189
Providing an update on this from my side - I have seen events being skipped very rarely as well (but still orders of magnitudes less likely then before). Unfortunately I have not had yet the time to look into this in more detail but only have a working theory:

I only observed this in situations when I do persist multiple events on the same AR. In that case a projection sometimes skips one of thes

[2019-09-10 14:01] prolic commented on #189
Not sure, but maybe MySQL transaction levels help??

https://dev.mysql.com/doc/refman/5.7/en/innodb-transaction-isolation-levels.html#isolevel_read-committed

On Tue, Sep 10, 2019, 06:33 Fritz Gerneth <notifications@github.com> wrote:

[2019-09-10 14:22] prolic commented on #189
Can anyone try transaction isolation level `SERIALIZABLE`?

[2019-09-10 15:22] markkimsal commented on #189
I tried all these transaction levels:
[code]
The only thing that fixes it for me with the supplied demo scripts (event-gen-bulk.sh etc) is adding `... FOR UPDATE` to the select in the consumer.  This ensures consistent reads as mysql is always using the MVCC and processing inserts concurrently.

Transactions on the writer don't do anything because it is only ensuring consistency for that one write

[2019-09-10 15:58] fritz-gerneth commented on #189
[code]
I think you are starting the generators without the locking strategy. The locking is controlled by a third parameter. Might want to check the output of the generator scripts, it prints which ever strategy it is using.

With locks enabled there should  never be two writers active at the same time, therefore index updates would not be an issue.
In any case making the isolation level more rest

[2019-09-10 16:28] codeliner commented on #189
I'd really like to solve the problem differently, but looking at the history of this issue and the fact that other libraries in other languages solved the problem with a sliding window gap-detection, too (f.e. AxonFramework) makes me wondering if there is any other solution to this problem :(

As I stated earlier in this issue, when we hit the problem in a project that makes heavy use of projectio

[2019-09-10 20:21] codeliner commented on #189
Reply from Allard Buijze (CTO AxonIQ) on twitter:

https://twitter.com/allardbz/status/1171504819191762944

[2019-09-10 20:57] danizord commented on #189
We have 2 different scenarios here:

## Multiple writers

- Writer A inserts event 1
- Writer B inserts event 2
- Writer B commits
- Projection reads event 2
- Writer A commits
- Projection skipped event 1

I think this case seems to be solved by the `GET_LOCK()` mechanism.

## Single writer

- Writer A inserts event 1
- Writer A inserts event 2
- Writer A commits
- Projection skips event 1 and go

[2019-09-11 11:55] markkimsal commented on #189
As I've said multiple times, transactions on the writers have no effect on the problem.  The writers do not need a consistent view of the table.

In theory, yes.  But, index updates are already not the issue.

Global table locks on the writers does not guarantee a consistent view of the data from the select's side of things.

Non-blocking reads always have a chance to see the database in a state t

[2019-09-11 20:09] codeliner commented on #189
I also reread the article linked by @prolic earlier in the thread:

https://www.matthewbilyeu.com/blog/auto-incremented-values-can-appear-out-of-order-if-inserted-in-transactions/

I'm starting to believe that this issue not only effects concurrent inserts of different transactions, but also inserts of multiple events within the same transaction. It makes sense somehow, because auto-increment is i

[2019-10-04 08:48] ccgintranet opened #214 "Microsoft SQL Server Support"
Hello,

Does this library support Microsoft SQL Server instances?

Thanks,

Regards,

[2019-10-04 12:46] prolic commented on #214
No it does not.

On Fri, Oct 4, 2019, 04:48 ccgintranet <notifications@github.com> wrote:

[2019-10-04 13:39] codeliner commented on #214
Hey @ccgintranet ,
sorry, we don't support Microsoft SQL Server instances. We gave up on the idea supporting all DB vendors to be able to optimize for advanced use cases like projections.

[2019-10-04 14:55] chad-w-cvt commented on #214
Hi @ccgintranet,

Early on when our company decided to start using prooph components we were restricted to only use Sql Server so I started the process of supporting Sql Server in pdo-event-store.  Here's a link to our repo [https://github.com/cvtrust/pdo-event-store](https://github.com/cvtrust/pdo-event-store).  We actually ended up being able to use Postgres but the code was pretty close to work

[2019-10-11 10:11] jsor opened #215 "Column length of `event_streams.stream_name` might be too short"
Since #159 introduced schema support, a stream name can be longer than 41 chars (`_` + `sha1($streamName)`) when it is prefixed with the schema name.

So, the column definition of `CHAR(41)` in the sql scripts provided might not be of sufficient length.

https://github.com/prooph/pdo-event-store/blob/2eede0b5d47b1e7b3198dee50784d95dacd0a191/scripts/postgres/01_event_streams_table.sql#L4

[2019-10-11 19:20] prolic commented on #215
That's correct, the provided column definition is meant to work with some defaults, but you might need to tweak it for your use-case (alter the length, add additional indexes, and so on). There is no way to provide defaults that work for all users without compromising performance.

I hope this explanation helps.

[2019-10-11 19:20] #215 closed

[2019-12-10 07:38] gquemener opened #218 "Drop support of PHP 7.1 (EOL: 2020-01-01)"
https://www.php.net/supported-versions.php

What about dropping 7.2 at the same time as it's not actively supported as well? :thinking:

[2019-12-10 07:41] gquemener commented on #218
I'll have a look at the RDBMS support releases as well.

[2019-12-10 09:53] fritz-gerneth commented on #218
I'd caution against doing so unless there is some actual requirement to do so. Older versions of PHP are still supported by some distributions by backports of security fixes (RHEL / Debian Stretch)

[2019-12-10 11:15] gquemener commented on #218
Thanks @fritz-gerneth, I'll look into that as well.

For the record, PHPUnit is about to drop support of php 7.1 as well in a few months: https://phpunit.de/supported-versions.html

[2019-12-10 21:23] prolic commented on #214
hey @chad-w-cvt - do you want to submit this as pull request and make prooph officially support sql sever?

[2020-01-30 06:30] gquemener commented on #86
For reference/inspiration, a similar PR is opened on symfony/messenger (https://github.com/symfony/symfony/pull/35485).

[2020-02-21 22:09] codeliner commented on #86
@gquemener thanks for the link. That's indeed a good inspiration.

[2020-02-22 22:59] codeliner commented on #189
It's been a while since the last update on this issue. Now we're also facing the issue with a Postgres Event Store and need a solution. So I've added a simple gap detection mechanism (WIP), see https://github.com/prooph/pdo-event-store/pull/221

Feedback is very much appreciated!

[2020-03-01 18:01] #189 closed

[2020-04-14 01:25] atymic opened #224 "Running projections causes constant full table scans due incorrect forced index"
We're developing a pretty new app using prooph, with only ~20k events in a single stream. We have ~30 projections, and when running these all at once the database gets completely destroyed.

I dived in with a debugger and figured out this is because we are doing 30x full table scans per 100ms, as every loop of each projection is doing a full table scan.

Here's an example query:
[code]

![image](h

[2020-04-14 02:47] prolic commented on #224
Can you post your configuration please?

[2020-04-14 02:53] atymic commented on #224
<details>
<summary>Config</summary>
[code]
</details>

[2020-04-14 17:50] prolic commented on #224
I think this can be solved by using a different projection strategy when running the projections. I am currently not using a v7 instance in production, so I can't verify easily right now.

ping @codeliner can you provide some info? I think you are running v7 in production right now.

[2020-04-14 18:31] codeliner commented on #224
yes, but we're using postgres. I remember that someone mentioned this or a similar issue when using MySql. Maybe it was @fritz-gerneth ? Unfortunately, I cannot find the discussion in an older issue, maybe it was in the chat :(

Anyway, you could implement your own stream strategy to change the index the way you need it: https://github.com/prooph/pdo-event-store/blob/master/src/PersistenceStrategy

[2020-04-14 20:11] fritz-gerneth commented on #224
Prolic provided a bit of background in #191 .

Never ran into this issue myself due to a custom strategy (for larger IDs).

[2020-04-14 20:17] codeliner commented on #224
Ah thanks @fritz-gerneth that's the issue I was looking for. @atymic does it help you?

[2020-04-15 00:26] atymic commented on #224
The issue is that this index is useful when looking up aggregates in the application - it's just not when running projections. Ideally, since it just requires removing that specification of the index it would be able to be disabled just from projections

[2020-04-15 00:27] atymic commented on #224
Yep, that's the exact issue. Will try to figure out how to use a different strategy just for projections. We're running laravel so hopefully we can sub it out in the container.

[2020-04-15 00:46] atymic commented on #224
Ok, subbing out the strategy for projections only worked fine. I just added another event store to the config, and set the projections to use that instead.

Thanks for all the help everyone. Could it be worth documenting the performance issues for projections in the docs, since it seems like others have come accross this as well?

[2020-04-15 01:55] prolic commented on #224
@atymic yes a pull request for documentation is always welcome! I'm closing the issue now.

[2020-04-15 01:55] #224 closed

[2020-04-15 07:21] codeliner commented on #224
@ahmed-alaa I think this is important for your set up as well :point_up:

[2020-04-15 21:48] marcuswinkler commented on #224
The following index hint solved this problem for us, in https://github.com/prooph/pdo-event-store/blob/master/src/PersistenceStrategy/MySqlSingleStreamStrategy.php#L95
[code]
It works for both, running projections and loading aggregates. Might be worth trying before adding an additional event store configuration.

[2020-04-15 23:21] atymic commented on #224
Ahh, interesting. @codeliner is this a reasonable solution to accept into the library?

[2020-04-15 23:34] prolic commented on #224
Can you test this please and let me know? If this works for both cases I
would definitely merge a pull request.

On Wed, Apr 15, 2020, 19:21 atymic <notifications@github.com> wrote:

[2020-04-15 23:35] atymic commented on #224
No worries, i'll test shortly :)

[2020-04-17 01:00] #154 closed

[2020-04-17 01:00] #139 closed

[2020-04-17 01:01] #214 closed

[2020-04-17 01:01] #218 closed

[2020-05-07 11:51] atymic commented on #200
Hey @prolic

Sorry for jumping on this closed topic, but could you explain the benefit of postgres here?

We've got about 40 projections, and the lag is horrendous, the projections lags many seconds behind due to locking issues on the projections table (them all trying to update the `locked_until` every 100ms)

![image](https://user-images.githubusercontent.com/50683531/81291324-e93bb380-90ac-11ea

[2020-05-07 12:04] fritz-gerneth commented on #200
100ms seems incredibly short for locks. That alone would be ~400 updates/second on that table. In a production environment you certainly should increased these values to seconds/minutes.

Both OPTION_LOCK_TIMEOUT_MS and OPTION_UPDATE_LOCK_THRESHOLD only control how fast projections recover from crashes/ reboots. This does not affect how often new events are queried for. Hence it it is rather safe

[2020-05-07 12:30] atymic commented on #200
Hey @fritz-gerneth, first off, thanks for your awesome in depth reply :)

You are right, it's actually 1s (I was wrong, assumed every poll it also did a write)

However, it seems that even at the default 1s lock, there's still ~150 writes per second (this is on a test server, currently zero event write load)

![Screen Shot 2020-05-07 at 10 28 42 pm](https://user-images.githubusercontent.com/506835

[2020-05-07 12:46] fritz-gerneth commented on #200
Many concurrent queries certainly can have a huge cascading effect, possibly skewing metrics. Judging from your first screenshot your queries certainly seem slow (avg 300ms to update the table).. At that point you might need to invoke the query log to actually see which queries are sent.
The data also lists 100 client connections, these certainly cannot be all from projections. Some other load of

[2020-11-17 14:28] patrickkusebauch opened #226 "Aggregate root with `.` in ID will break PosgreSQL PostgresAggregateStreamStrategy"
I was able to drill it down to this line: https://github.com/prooph/pdo-event-store/blob/8f8c3621a8dacd5fc9ee8299e42dc552188b0ea4/src/PersistenceStrategy/PostgresAggregateStreamStrategy.php#L104

## Current behavior/ Steps to reproduce/issue:
 1. Create an aggregate that has `.` in aggregateRootId (example: `patrick.kusebauch`).
 2. Try to store it with `PostgresAggregateStreamStrategy`
 3. The na

[2020-11-25 20:16] prolic commented on #226
Can you try to change the function here? https://github.com/prooph/pdo-event-store/blob/master/src/Util/PostgresHelper.php#L44

[2020-11-26 08:16] patrickkusebauch commented on #226
@prolic I do not understand what is the purpose of that function in the context of this package, as to me, from the bug description, it seems as this function should no be there at all.

[2020-11-26 19:14] prolic commented on #226
What schema are you using in postgres? I would assume if you never used this value it should be default to `public`? At least as a workaround, try this `public.patrick.kusebauch` instead of this `patrick.kusebauch`. In postgres schema and table name are separated by a dot, hence we extract the schema name from the string as everything that is coming before the first dot.

[2020-12-11 10:07] patrickkusebauch commented on #226
@prolic sorry for the delay.
I use the Posgres:12 docker container, with no extra settings.
For table definitions, I use the [provided SQL](https://github.com/prooph/pdo-event-store/blob/master/scripts/postgres/01_event_streams_table.sql).

[2020-12-13 19:38] codeliner commented on #226
@patrickkusebauch Can you try to set up a failing test case? You can add it here: https://github.com/prooph/pdo-event-store/blob/master/tests/PostgresEventStoreTest.php#L41

[2020-12-14 15:33] patrickkusebauch commented on #226
@codeliner I have created a pull request. For the stream name, the heuristic is `AggregateRootClass`-`AggregateId`. This would represent one stream per aggregate strategy.

[2021-03-06 04:50] patrickkusebauch opened #229 "PHP 8 support"
Self-explanatory. Not sure if there is any blocker other than the `composer.json` definition. I might be able to look into it for you, but right now I am in the process of going through all the packages in my project needing an upgrade. Once done, I can start focusing on external dependancies.

[2021-03-13 17:11] codeliner commented on #229
PHP 8 support is available now: https://github.com/prooph/pdo-event-store/releases/tag/v1.13.0

[2021-03-13 17:11] #229 closed

[2021-06-04 11:22] webdevilopers commented on #189
We can confirm this issue with PostgreSQL for `event_streams` and `projections` tables. We use MongoDB for Projections exclusively.

We will try the gap detection and then give further feedback.

Thank you so far everybody!

[2021-06-07 19:14] Mattin commented on #189
@webdevilopers I can confirm that GapDetection works as it should with Postgre. I have just overridden the projection command with GapDetection and it worked like a charm. No skipped event from March 2020 :).

Here is Command class for quick try: https://gist.github.com/Mattin/d668fc62073649aa2d473cbda245dd5b

[2021-06-16 15:42] fritz-gerneth opened #230 "Slow aggregate load performance for SingleStreamStrategy"
Not sure yet why / what is happening here exactly. This is happening on a table with ~500k recorded events in a SingleStreamStrategy. The original query takes about 2 seconds for us to load. The second query takes 70ms to load. This was live-tested with a modified `MySqlEventStore` to use the second query on a MySql 5.7 & MySQL 8 instance. Loading all aggregates one after another caused the server

[2021-06-17 09:36] fritz-gerneth commented on #230
I only noticed now our custom implementation of the storage strategy does not force the index (everything else is the same). With the forced index, performance gets even worse (~5sec/query).
[code]

id|select_type|table|partitions|type |possible_keys     |key               |key_len|ref|rows|filtered|Extra                             |
--|-----------|-----|----------|-----|------------------|------

[2021-06-29 13:54] MetalArend opened #231 "What's the reasoning behind the current maximum length for event names?"
Currently almost all implementations of the `PostgresPersistenceStrategy` have a hard-coded maximum length of 100 characters for the event_name. Is there a reason to keep this hard-coded to 100? Or is there some other limit we must keep in mind to make sure no other code trips over longer event names?

[2021-06-29 17:01] prolic commented on #231
You can change this length according to your needs.There is no requirement to have a certain length.

[2021-06-29 17:01] #231 closed

[2021-07-07 17:53] codeliner commented on #230
@sandrokeil do you have an idea?

[2021-07-10 18:53] sandrokeil commented on #230
Maybe it depends on the query cache configuration. Something like [this](https://github.com/prooph/event-store-benchmarks/blob/master/env/mysql/my.cnf).

[2021-08-25 07:11] fritz-gerneth commented on #230
We have the default query cache configuration. I'll try the original version with your configuration when I am back.

[2021-09-28 18:13] fritz-gerneth opened #233 "Calling stop() can cause projections to loose stream positions"
I have observed this issue over some time, but had a hard time reproducing it. In rare instances during deployments, projections could loose their stream positions and start from the beginning.
This can happen in instances where a pcntl stop handler invokes a projection's `stop()` method before the projection has loaded the stream positions.

The problematic section is in the `run()` [method](http

[2021-09-28 21:39] prolic commented on #233
Sounds like a valid solution. Can you submit a pull request please?

[2021-09-28 22:13] fritz-gerneth commented on #233
Will so once I have had this in production for a while to verify.

Sent from Nine<http://www.9folders.com/>
________________________________
Von: Sascha-Oliver Prolic ***@***.***>
Gesendet: Dienstag, 28. September 2021 23:39
An: prooph/pdo-event-store
Cc: Fritz Gerneth; Author
Betreff: Re: [prooph/pdo-event-store] Calling stop() can cause projections to loose stream positions (#233)

Sounds like a

[2021-09-30 07:21] fritz-gerneth commented on #233
In an additional thought, I think it is also possible to delete/reset/.. the projection before having acquired the lock for it. This can happen if the locking projection (1) is sleeping, status is set to RESETTING, and another instance of the projection (2) is started. Before we acquire the lock in projection2, we reset the projection and set the state to IDLE. When projection 1 wakes up again it

[2022-04-26 03:08] #226 closed

[2022-05-30 11:01] aheissenberger opened #240 "MariaDB / hasStream fails to detect existing Stream"
The comparing fails as `$statement->fetchColumn()` returns a Number:
https://github.com/prooph/pdo-event-store/blob/cc4acb5bfa63096de3017c241358c40a17ec2f73/src/MariaDbEventStore.php#L174-L194

Problem is fixed in MySqlEventStore.php
https://github.com/prooph/pdo-event-store/blob/cc4acb5bfa63096de3017c241358c40a17ec2f73/src/MySqlEventStore.php#L193

[2022-09-28 07:58] hvanoch opened #243 "Gapdetection default wrong time definition"
https://github.com/prooph/pdo-event-store/blob/541fc4dc28f98d6d6d94f4f18d8dd00da4d267cf/src/Projection/GapDetection.php#L39 defines the the time to sleep in ms. But when the sleep is actually called, a `usleep` is used.
https://github.com/prooph/pdo-event-store/blob/541fc4dc28f98d6d6d94f4f18d8dd00da4d267cf/src/Projection/PdoEventStoreReadModelProjector.php#L519

So this should be multiplied by a f

[2022-10-26 03:26] prolic commented on #243
@hvanoch do you want to submit a pull request and update the docs?